@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
  font-family: "Custom Font";
}
.substrate-earth-page, .earth-page__content, .substrate-home-page, .home-page__content {
  opacity: 0;
  transition: opacity 0.6s, transform 0.6s ease-out;
}
.page.page--moving-up .substrate-earth-page, .page.page--moving-up .earth-page__content, .page.page--moving-up .substrate-home-page, .page.page--moving-up .home-page__content {
  transform: translateY(200px);
}
.page.page--moving-down .substrate-earth-page, .page.page--moving-down .earth-page__content, .page.page--moving-down .substrate-home-page, .page.page--moving-down .home-page__content {
  transform: translateY(-200px);
}
.page.page--active .substrate-earth-page, .page.page--active .earth-page__content, .page.page--active .substrate-home-page, .page.page--active .home-page__content {
  opacity: 1;
  transform: none;
  transition-timing-function: ease;
  transition-delay: 0.8s;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.body-container {
  position: relative;
  margin: 0 auto;
}

.substrate-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("/img/background-body.png");
  background-repeat: no-repeat;
}
.substrate-body img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.overlay-body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.overlay-body--active {
  opacity: 1;
  z-index: 5;
}

.main-content {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main-content__inner {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.rotater {
  opacity: 0;
  z-index: 0;
  transition: transform 1s cubic-bezier(1, -0.01, 0.6, 1);
  transform: rotate(0);
}
.rotater.active {
  transform: translate3d(0, 0, 0) rotate(0);
}

.pages {
  z-index: 2;
  position: relative;
  height: 100%;
}

.page {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 190.2rem;
  margin: 0 auto;
  transform: translateX(-50%);
}
.page.page--active {
  z-index: 2;
}

.show-up-home {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.6s, transform 0.6s ease-out;
}
.show-up-home--active {
  opacity: 1;
  transform: none;
  transition-timing-function: ease;
  transition-delay: 0.8s;
}
.show-up-home__substrate-pink {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-image: url("/img/show-up-pink.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom 0 left 0;
}
.show-up-home__substrate-blue {
  min-height: calc(100% - 2rem);
  width: 100%;
  background-image: url("/img/show-up-blue.svg");
  background-repeat: no-repeat;
  background-size: 100% calc(100% - 2rem);
  background-position: bottom -1rem left 0;
  min-height: 67rem;
  display: flex;
  justify-content: center;
}
.show-up-home__close {
  position: absolute;
  top: 18rem;
  left: calc(50% + 33.5rem + 33rem);
  cursor: pointer;
  width: 2.7rem;
}
.show-up-home__close img {
  width: 100%;
}
.show-up-home__content {
  max-width: 107.4rem;
  margin: 0 12.2rem;
  padding: 12rem 10rem 5rem 10rem;
  min-height: 87rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.show-up-home__text {
  margin-bottom: 2rem;
  color: #fff;
  font-family: inherit;
  font-size: 4.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.show-up-home__control {
  display: flex;
  align-items: center;
}
.show-up-home__button-pink, .show-up-home__button-blue {
  position: relative;
  cursor: pointer;
}
.show-up-home__button-pink span, .show-up-home__button-blue span {
  position: relative;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.show-up-home__button-pink span, .show-up-home__button-blue span {
  color: var(--White, #fff);
  font-family: inherit;
  font-size: 4.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}

.preloader {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  transition: opacity 0.5s;
  opacity: 1;
  overflow: hidden;
}
.preloader.inactive {
  opacity: 0;
}
.preloader.hidden {
  display: none;
}
.preloader__overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  animation: animatePreloader 1.5s 0.5s ease-in forwards;
}

@keyframes animatePreloader {
  to {
    transform: translate3d(100%, 0, 0);
  }
}
.pagination {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 50%;
  width: 50px;
  transform: translateY(-50%) scale(0.8);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
.pagination.pagination--active {
  transform: translateY(-50%);
  opacity: 1;
}
.pagination__arrow {
  position: absolute;
  left: 50%;
  width: 14px;
  height: 14px;
  margin-left: -7px;
  border: 0.3rem solid #cfcfcf;
  border-left: none;
  border-bottom: none;
  transition: border-color 0.3s;
  cursor: pointer;
}
.pagination__arrow--up {
  bottom: 110%;
  transform: rotate(-45deg);
}
.pagination__arrow--down {
  top: 110%;
  transform: rotate(135deg);
}
.pagination__arrow:hover {
  border-color: #f6cc4c;
}
.pagination__items {
  list-style-type: none;
}
.pagination__item {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 auto 35px;
  cursor: pointer;
}
.pagination__item:last-child {
  margin-bottom: 0;
}
.pagination__item:before, .pagination__item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.pagination__item:before {
  border-radius: 50%;
  border: 0.3rem solid #cfcfcf;
}
.pagination__item:after {
  border-radius: 50%;
  background: #f6cc4c;
  transform: scale(0);
  transition: transform 0.3s;
}
.pagination__item.pagination--active:after, .pagination__item:hover:after {
  transform: scale(1);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}
.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.3rem 4.3rem;
  max-width: 190.2rem;
  margin: 0 auto;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
.header__logo-text {
  color: #fff;
  font-family: "Londrina Solid";
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}
.header__nav {
  cursor: pointer;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  background: rgba(50, 28, 86, 0.2);
  backdrop-filter: blur(22px);
}
.navigation--active {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}
.navigation__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 190.2rem;
  margin: 0 auto;
}
.navigation__close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
}
.navigation__close img {
  width: 100%;
}
.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}
.navigation__item {
  color: #fff;
  font-family: inherit;
  font-size: 4.4rem;
  font-weight: 400;
  letter-spacing: 3.616px;
  position: relative;
  cursor: pointer;
}
.navigation__item::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("/icons/line-navigation.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 0.9rem;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.navigation__item:hover::before {
  opacity: 1;
}

.home-page {
  padding: 11rem 4.3rem;
  display: flex;
  align-items: center;
}
.home-page__content {
  max-width: 61.3rem;
  position: relative;
  z-index: 1;
}
.home-page__line {
  margin-bottom: 2.4rem;
}
.home-page__header {
  margin-bottom: 2.4rem;
  color: #fff;
  font-family: inherit;
  font-size: 7.6rem;
  font-weight: 900;
  letter-spacing: 0.53rem;
  text-transform: uppercase;
}
.home-page__description {
  margin-bottom: 2.4rem;
  color: var(--White, #fff);
  font-family: inherit;
  font-size: 2.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.home-page__nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 51.3rem;
}
.home-page__row {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.home-page__arrow {
  cursor: pointer;
}
.home-page__text {
  color: #fff;
  font-family: inherit;
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.substrate-home-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.substrate-home-page__planet {
  position: absolute;
  top: calc(50% - 23.6rem);
  left: calc(77% - 23.6rem);
}
.substrate-home-page__planet-3-wrap, .substrate-home-page__planet-2-wrap, .substrate-home-page__planet-1-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.substrate-home-page__planet-3-wrap {
  width: 47.2rem;
  height: 47.2rem;
  border-radius: 50%;
  background: rgba(162, 0, 188, 0.16);
}
.substrate-home-page__planet-2-wrap {
  width: 41.2rem;
  height: 41.2rem;
  border-radius: 418px;
  background: rgba(162, 0, 188, 0.16);
}
.substrate-home-page__planet-1-wrap {
  width: 36rem;
  height: 36rem;
  border-radius: 50%;
  background: rgba(162, 0, 188, 0.16);
}
.substrate-home-page__planet img {
  width: 32.8rem;
  height: 32.8rem;
}
.substrate-home-page__satellite-1 {
  position: absolute;
  top: calc(50% - 23.6rem);
  left: calc(78% - 23.6rem);
}
.substrate-home-page__satellite-1 img {
  width: 4rem;
  height: 4rem;
}
.substrate-home-page__satellite-2 {
  position: absolute;
  top: calc(49% - 23.6rem);
  left: calc(73% + 23.6rem);
}
.substrate-home-page__satellite-2 img {
  width: 5.7rem;
  height: 5.7rem;
}

.earth-page {
  padding: 11rem 4.3rem;
  display: flex;
  align-items: center;
}
.earth-page__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
}
.earth-page-main__description, .earth-page-add__description {
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.7rem;
  letter-spacing: 1px;
}
.earth-page-main {
  max-width: 51rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
.earth-page-main__title {
  margin-bottom: 1rem;
  color: #fff;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 4.25px;
  text-transform: uppercase;
  position: relative;
  width: max-content;
}
.earth-page-main__title::before {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  left: -0.5rem;
  background-image: url("/icons/line-earth.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 0.4rem;
}
.earth-page-main__header {
  margin-bottom: 1rem;
  color: #fff;
  font-family: inherit;
  font-size: 7rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.earth-page-main__versions {
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.earth-page-main__item {
  display: flex;
  gap: 2.4rem;
}
.earth-page-main__version {
  color: #fff;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1.064px;
  padding-top: 0.4rem;
}
.earth-page-main__info {
  color: #fff;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1.064px;
}
.earth-page-add {
  max-width: 39rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.earth-page-add__header {
  color: #fff;
  font-family: inherit;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 5.2rem;
  letter-spacing: 1px;
}
.earth-page-add__list {
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.earth-page-add__item {
  color: #fff;
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.7rem;
  letter-spacing: 1px;
  position: relative;
  margin-left: 3rem;
}
.earth-page-add__item::before {
  content: "";
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #fff;
}
.earth-page-add__button {
  cursor: pointer;
  color: #fff;
  width: max-content;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 4.25px;
  text-transform: uppercase;
  background-image: url("/img/rectangle-blue.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 2rem;
}

.substrate-earth-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.substrate-earth-page__planet {
  position: absolute;
  top: calc(50% - 23.6rem);
  left: calc(50% - 23.6rem);
}
.substrate-earth-page__planet-3-wrap, .substrate-earth-page__planet-2-wrap, .substrate-earth-page__planet-1-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.substrate-earth-page__planet-2-wrap {
  width: 39.2rem;
  height: 39.2rem;
  border-radius: 418px;
  background: rgba(162, 0, 188, 0.16);
}
.substrate-earth-page__planet-1-wrap {
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background: rgba(162, 0, 188, 0.16);
}
.substrate-earth-page__planet img {
  width: 32.8rem;
  height: 32.8rem;
}
.substrate-earth-page__satellite-1 {
  position: absolute;
  top: calc(47% - 23.6rem);
  left: calc(13% + 23.6rem);
}
.substrate-earth-page__satellite-1 img {
  width: 4rem;
  height: 4rem;
}
.substrate-earth-page__satellite-2 {
  position: absolute;
  top: calc(49% - 23.6rem);
  left: calc(78% - 23.6rem);
}
.substrate-earth-page__satellite-2 img {
  width: 5.7rem;
  height: 5.7rem;
}
.substrate-earth-page__luna {
  position: absolute;
  top: calc(89% - 23.6rem);
  left: calc(48% - 23.6rem);
}
.substrate-earth-page__luna img {
  width: 6.8rem;
}

/*# sourceMappingURL=style.css.map */
