@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
  font-family: "Custom Font";
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.substrate-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("/img/background-body.png");
  background-repeat: no-repeat;
}
.substrate-body img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}
.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.3rem 4.3rem;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
.header__logo-text {
  color: #fff;
  font-family: "Londrina Solid";
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}
.header__nav {
  cursor: pointer;
}

.pagination__item:before, .pagination__item:after, .phone__bg, .page, .preloader__overlay, .preloader__img, .preloader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.preloader {
  z-index: 10;
  background: #000;
  transition: opacity 0.5s;
}
.preloader.inactive {
  opacity: 0;
}
.preloader.hidden {
  display: none;
}
.preloader__cont {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25.6rem;
  height: 25.6rem;
  margin-left: -12.8rem;
  margin-top: -12.8rem;
}
.preloader__img {
  background-size: cover;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg");
  border-radius: 1rem;
}
.preloader__overlay {
  background: #000;
  transform: translate3d(0, 0, 0);
  animation: animatePreloader 1.5s 0.5s ease-in forwards;
}

@keyframes animatePreloader {
  to {
    transform: translate3d(100%, 0, 0);
  }
}
.main-content {
  position: relative;
  padding: 50px;
  width: 100%;
  height: 100vh;
}
.main-content__inner {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.rotater {
  opacity: 0;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150vmax;
  height: 150vmax;
  margin-left: -75vmax;
  margin-top: -75vmax;
  margin-top: 0;
  background: #f6cc4c;
  transform-origin: 50% 0;
  transition: transform 1s cubic-bezier(1, -0.01, 0.6, 1);
  transform: translate3d(0, calc(50vh - 50px * 1.5), 0) rotate(0);
}
.rotater.active {
  transform: translate3d(0, 0, 0) rotate(0);
}

.pages {
  z-index: 2;
  position: relative;
  height: 100%;
}

.page__headings, .page__number {
  position: absolute;
  right: calc(50% + 36.4rem / 2 + 5rem);
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 0.6s, transform 0.6s ease-out;
}
.page.active .page__headings, .page.active .page__number {
  opacity: 1;
  transform: none;
  transition-timing-function: ease;
  transition-delay: 0.8s;
}

.page.active {
  z-index: 1;
}
.page__number {
  top: 75%;
  margin-top: -7.5rem;
  font-size: 15rem;
  line-height: 1;
  font-family: "Custom Font", Helvetica, Arial, sans-serif;
  color: #fff;
}
.page:nth-child(even) .page__number {
  top: 25%;
}
.page__headings {
  top: 25%;
  text-align: right;
}
.page:nth-child(even) .page__headings {
  top: 75%;
}
.page__headings-main {
  margin-bottom: 0.5rem;
  font-size: 4rem;
  font-family: "Custom Font", Helvetica, Arial, sans-serif;
  color: #f6cc4c;
  text-transform: uppercase;
}
.page__headings-sub {
  font-size: 2rem;
  color: #fff;
}
.page__headings-link {
  color: #f6cc4c;
}

.phone {
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 36.4rem;
  height: 74.3288rem;
  margin-left: -18.2rem;
  margin-top: -37.1644rem;
  padding-top: 8.919456rem;
  transform: translate3d(0, 100vh, 0) rotate(-30deg);
  transition: transform 0.7s 0.3s ease-out;
}
.phone:before {
  content: "";
  z-index: -10;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  border-radius: 5.6rem;
  box-shadow: 4rem 4rem 6rem rgba(0, 0, 0, 0.3), -2rem 2rem 5rem rgba(0, 0, 0, 0.3);
}
.phone.active {
  transform: translate3d(0, 0, 0);
}
.phone__bg {
  background-size: cover;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/iphone-6-mockup.png);
}
.phone__inner {
  position: relative;
  width: 320px;
  height: 56.489888rem;
  margin: 0 auto;
  background: #000;
}
.phone__inner:before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 1px solid #000;
}
.phone__content {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.phone__iframes {
  position: relative;
  height: 100%;
  transition: transform 0.7s 0.3s;
  transform: translate3d(0, 0, 0);
}
.phone__iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.phone__iframe-1 {
  left: 0%;
}
.phone__iframe-2 {
  left: 100%;
}
.phone__iframe-3 {
  left: 200%;
}
.phone__iframe-4 {
  left: 300%;
}
.phone__iframe-5 {
  left: 400%;
}
.phone__iframe-6 {
  left: 500%;
}
.phone__iframe-6 {
  background: #fff;
  color: #000;
  padding: 2rem;
  text-align: center;
}

.pagination {
  position: absolute;
  right: 0;
  top: 50%;
  width: 50px;
  transform: translateY(-50%) scale(0.8);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
.pagination.active {
  transform: translateY(-50%);
  opacity: 1;
}
.pagination__arrow {
  position: absolute;
  left: 50%;
  width: 14px;
  height: 14px;
  margin-left: -7px;
  border: 0.3rem solid #cfcfcf;
  border-left: none;
  border-bottom: none;
  transition: border-color 0.3s;
  cursor: pointer;
}
.pagination__arrow--up {
  bottom: 110%;
  transform: rotate(-45deg);
}
.pagination__arrow--down {
  top: 110%;
  transform: rotate(135deg);
}
.pagination__arrow:hover {
  border-color: #f6cc4c;
}
.pagination__items {
  list-style-type: none;
}
.pagination__item {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 auto 35px;
  cursor: pointer;
}
.pagination__item:last-child {
  margin-bottom: 0;
}
.pagination__item:before, .pagination__item:after {
  content: "";
}
.pagination__item:before {
  border-radius: 50%;
  border: 0.3rem solid #cfcfcf;
}
.pagination__item:after {
  border-radius: 50%;
  background: #f6cc4c;
  transform: scale(0);
  transition: transform 0.3s;
}
.pagination__item.active:after, .pagination__item:hover:after {
  transform: scale(1);
}

.info__heading {
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Custom Font", Helvetica, Arial, sans-serif;
}
.info__img {
  display: block;
  width: 60%;
  margin: 0 auto 20px;
}
.info__text {
  margin-bottom: 10px;
  font-size: 20px;
}
.info__link {
  color: #03a9f4;
}

/*# sourceMappingURL=style.css.map */
