///////////////////////////layout pages////////////////////

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  //   background-size: 100%;
  //   background-image: url('../img/background-body.png');
  //   border-radius: 1rem;
  position: relative;
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  line-height: 1;
}

.body-container {
  //   max-width: 210.2rem;
  position: relative;
  margin: 0 auto;
}

.substrate-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url('/img/background-body.png');
  background-repeat: no-repeat;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    // transform: scale(1.1);
  }
}

.overlay-body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
  transition: opacity $headingsAT ease-out;

  &--active {
    opacity: 1;
    z-index: 5;
  }
}

.main-content {
  position: relative;
  width: 100%;
  height: 100vh;

  &__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
}

.rotater {
  opacity: 0;
  z-index: 0;
  transition: transform $rotatingAT cubic-bezier(1, -0.01, 0.6, 1);
  transform: rotate(0);

  &.active {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

.pages {
  z-index: 2;
  position: relative;
  height: 100%;
}

.page {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: $maxWidthAllContent;
  margin: 0 auto;
  transform: translateX(-50%);
  &.page--active {
    z-index: 2;
  }
}

.show-up-home {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  //   height: 100%;

  &--active {
    opacity: 1;
    transform: none;
    transition-timing-function: ease;
    transition-delay: $headingsDelay;
  }

  &__substrate-pink {
    position: relative;
    min-height: $show-up-home-pink;
    width: 100%;
    background-image: url('/img/show-up-pink.svg');
    background-repeat: no-repeat;
    background-size: 100% $show-up-home-pink;
    background-position: bottom 0 left 0;
  }

  &__substrate-blue {
    min-height: $show-up-home-blue;
    width: 100%;
    background-image: url('/img/show-up-blue.svg');
    background-repeat: no-repeat;
    background-size: 100% $show-up-home-blue;
    background-position: bottom -1rem left 0;
    min-height: $show-up-home-content-width;
    display: flex;
    justify-content: center;
  }

  &__close {
    position: absolute;
    top: 18rem;
    left: calc(50% + $show-up-home-content-width / 2 + 33rem);
    cursor: pointer;
    width: 2.7rem;

    img {
      width: 100%;
    }
  }

  &__content {
    max-width: 107.4rem;
    margin: 0 12.2rem;
    padding: 12rem 10rem 5rem 10rem;
    min-height: 87rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 2rem;

    color: #fff;
    font-family: inherit;
    font-size: 4.6rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }

  &__control {
    display: flex;
    align-items: center;
  }
  &__button-pink,
  &__button-blue {
    position: relative;
    cursor: pointer;

    span {
      position: relative;
      position: absolute;
      top: 50%;
      left: 48%;
      transform: translate(-50%, -50%);
    }

    span {
      color: var(--White, #fff);

      font-family: inherit;
      font-size: 4.6rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
      white-space: nowrap;
    }
  }
}
