///////////////////////////layout pages////////////////////

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  //   background-size: 100%;
  //   background-image: url('../img/background-body.png');
  //   border-radius: 1rem;
  position: relative;
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  line-height: 1;
}

.body-container {
  //   max-width: 210.2rem;
  position: relative;
  margin: 0 auto;
}

.substrate-body {
  @extend %scaleBody;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-image: url('/img/background-body.png');
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 3, 0.8) 0%,
      // rgba(0, 0, 3, 0.5) 35%,
      rgba(0, 0, 3, 0) 100%
    );
    z-index: 1;
  }

  // &--active {
  //   background-size: 120% 120%;
  // }

  .substrate-body-stones {
    @extend %movingBodyBottom;
    position: fixed;
    bottom: -4rem;
    left: 0;
    right: 0;
    // background-size: cover;
    // background-image: url('/img/background-body-bottom.png');
    // background-repeat: no-repeat;
    // background-position-y: bottom;
    // width: 100%;
    height: 100%;
    min-height: 100%;

    // &::before {
    //   content: '';
    //   position: fixed;
    //   left: 0;
    //   right: 0;
    //   top: 100%;
    //   height: 100vh;
    //   background: rgb(0, 0, 0);
    //   // background: linear-gradient(
    //   //   0deg,
    //   //   rgba(0, 0, 3, 1) 0%,
    //   //   rgba(0, 0, 3, 1) 35%,
    //   //   rgba(0, 0, 3, 0.6867121848739496) 100%
    //   // );
    // }

    &__top {
      width: 100%;
      background-size: cover;
      background-image: url('/img/background-body-bottom.png');
      background-repeat: no-repeat;
      background-position-y: bottom;
      height: 100%;
    }

    &__bottom {
      // position: fixed;
      // left: 0;
      // right: 0;
      // top: 100%;
      height: 100vh;
      width: 100%;
      background: rgb(0, 0, 0);
    }

    // &::after {
    //   content: '';
    //   position: fixed;
    //   left: 0;
    //   right: 0;
    //   top: 90%;
    //   height: 100vh;
    //   // background: radial-gradient(
    //   //   circle,
    //   //   rgba(238, 174, 202, 0) 0%,
    //   //   rgba(0, 0, 0, 1) 50%,
    //   //   rgba(0, 0, 0, 1) 100%
    //   // );
    //   z-index: 1;
    // }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, transparent, black); // Adjust the gradient as needed
      z-index: 1; // Ensure it's above the background image
    }
  }
}

.overlay-body {
  position: fixed;
  left: 0;
  right: 0;
  top: 90%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
  transition: opacity $headingsAT ease-out;

  &--active {
    opacity: 1;
    z-index: 5;
  }
}

.main-content {
  position: relative;
  width: 100%;
  height: 100vh;

  &__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
}

.rotater {
  opacity: 0;
  z-index: 0;
  transition: transform $rotatingAT cubic-bezier(1, -0.01, 0.6, 1);
  transform: rotate(0);

  &.active {
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

.pages {
  z-index: 2;
  position: relative;
  height: 100%;
}

.page {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: $maxWidthAllContent;
  margin: 0 auto;
  transform: translateX(-50%);
  &.page--active {
    z-index: 2;
  }
}

.show-up-home {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  //   height: 100%;

  &--active {
    opacity: 1;
    transform: none;
    transition-timing-function: ease;
    transition-delay: $headingsDelay;
  }

  &__substrate-pink {
    position: relative;
    min-height: $show-up-home-pink;
    width: 100%;
    background-image: url('/img/show-up-pink.svg');
    background-repeat: no-repeat;
    background-size: $maxWidthAllContent $show-up-home-pink;
    background-position: bottom 0 left 50%;

    @include respond(2xl) {
      background-size: 100vw $show-up-home-pink;
    }
  }

  &__substrate-blue {
    min-height: $show-up-home-blue;
    width: 100%;
    background-image: url('/img/show-up-blue.svg');
    background-repeat: no-repeat;
    background-size: $maxWidthAllContent $show-up-home-blue;
    background-position: bottom -1rem left 50%;
    min-height: $show-up-home-content-width;
    display: flex;
    justify-content: center;

    @include respond(2xl) {
      background-size: 100vw $show-up-home-blue;
    }
  }

  &__close {
    position: absolute;
    top: 18rem;
    left: calc(50% + $show-up-home-content-width / 2 + 33rem);
    cursor: pointer;
    width: 2.7rem;

    img {
      width: 100%;
    }
  }

  &__content {
    max-width: 107.4rem;
    margin: 0 12.2rem;
    padding: 12rem 10rem 5rem 10rem;
    min-height: 87rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 2rem;

    color: #fff;
    font-family: inherit;
    font-size: 4.6rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }

  &__control {
    display: flex;
    align-items: center;
  }

  &__button {
    cursor: pointer;

    width: max-content;

    color: #fff;
    font-family: inherit;
    font-size: 4.6rem;
    font-weight: 400;
    letter-spacing: 4.25px;
    white-space: nowrap;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 4rem;

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--pink {
      background-image: url('/img/rectangle-pink.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }
}
