.home-page {
  padding: 11rem 4.3rem;
  display: flex;
  align-items: flex-end;

  @include respond(lg) {
    align-items: center;
  }

  &__content {
    position: relative;
    z-index: 1;
    @include movingElement(1);

    @include respond(lg) {
      max-width: 61.3rem;
    }
  }

  &__line {
    margin-bottom: 2.4rem;
    @include movingElement(1);
  }

  &__header,
  &__description {
    margin-bottom: 24px;

    @include respond(lg) {
      margin-bottom: 2.4rem;
    }
  }

  &__header {
    @include movingElement(1);

    color: #fff;
    font-family: inherit;
    font-size: 7.6rem;
    font-weight: 900;
    letter-spacing: 0.53rem;
    text-transform: uppercase;
  }

  &__description {
    @include movingElement(1.1);
    color: var(--White, #fff);
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 18px;

    @include respond(lg) {
      font-size: 2.6rem;
      line-height: 1;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include respond(lg) {
      max-width: 51.3rem;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 3.4rem;
    @include movingElement(1.2);

    @include respond(lg) {
      gap: 1.6rem;
    }
  }

  &__button {
    cursor: pointer;
    width: 10rem;

    @include respond(lg) {
      width: 5.2rem;
    }
  }

  &__info-button {
    display: inline-block;
  }

  &__text {
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 22px;

    @include respond(lg) {
      font-size: 2.2rem;
      line-height: 1;
    }
  }
}

.info-button {
  display: inline-block;
  cursor: pointer;
  position: relative;

  width: 3.4rem;

  @include respond(lg) {
    width: 2rem;
  }

  &__img {
    width: 100%;
  }
}

.info-tooltip {
  z-index: -1;
  opacity: 0;
  transition: opacity calc($headingsAT / 2) ease-in-out;
  position: absolute;
  transform: translateX(-50%);
  bottom: 8rem;
  left: -9.6rem;

  @include respond(lg) {
    bottom: 5rem;
    left: 22rem;
  }

  &--active {
    opacity: 1;
    z-index: 1;
  }

  &__container {
    padding: 2rem;
    border-radius: 0.8rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), #7c4ffd;
    width: max-content;
    max-width: 90vw;

    color: #fff;
    font-family: inherit;
    font-weight: 300;
    letter-spacing: 1.064px;
    font-size: 20px;
    line-height: 24px;

    @include respond(sm) {
      max-width: 70.6rem;
    }

    @include respond(lg) {
      font-size: 2rem;
      line-height: 1;
      max-width: 49.6rem;
    }

    &::after {
      content: '';
      background-image: url('/img/triangle-tooltip.svg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -2.4rem;
      left: 43.5rem;
      width: 2.6rem;
      height: 2.6rem;
      z-index: -1;
      transform: scaleX(-1);
      transform-origin: center;

      @include respond(lg) {
        transform: unset;
        left: 3.5rem;
      }
    }
  }
}

.substrate-home-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;

  @include respond(lg) {
    display: block;
  }

  z-index: 0;
  @include movingElement(1);

  &__planet {
    @include movingElement(1.3);
    position: absolute;
    top: calc(50% - $sizeSubstratePlanet / 2);
    left: calc(77% - $sizeSubstratePlanet / 2);

    &-3-wrap,
    &-2-wrap,
    &-1-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      //   position: relative;
    }

    &-3-wrap {
      width: $sizeSubstratePlanet;
      height: $sizeSubstratePlanet;
      border-radius: 50%;
      background: rgba(162, 0, 188, 0.16);
    }

    &-2-wrap {
      width: calc($sizeSubstratePlanet - 6rem);
      height: calc($sizeSubstratePlanet - 6rem);
      border-radius: 418px;
      background: rgba(162, 0, 188, 0.16);
    }

    &-1-wrap {
      width: calc($sizeSubstratePlanet - 11.2rem);
      height: calc($sizeSubstratePlanet - 11.2rem);
      border-radius: 50%;
      background: rgba(162, 0, 188, 0.16);
    }

    img {
      width: calc($sizeSubstratePlanet - 14.4rem);
      height: calc($sizeSubstratePlanet - 14.4rem);
    }
  }

  &__satellite-1 {
    @include movingElement(1.4);
    position: absolute;
    top: calc(50% - $sizeSubstratePlanet / 2);
    left: calc(78% - $sizeSubstratePlanet / 2);
    img {
      width: 4rem;
      height: 4rem;
    }
  }

  &__satellite-2 {
    @include movingElement(1.5);
    position: absolute;
    top: calc(49% - $sizeSubstratePlanet / 2);
    left: calc(73% + $sizeSubstratePlanet / 2);
    img {
      width: 5.7rem;
      height: 5.7rem;
    }
  }
}

.earth-page {
  padding: 11rem 4.3rem;
  display: flex;
  align-items: flex-end;

  @include respond(lg) {
    align-items: center;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 4rem;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    row-gap: 7.3rem;

    @include respond(lg) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-main,
  &-add {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__description {
      margin-bottom: 1rem;

      color: #fff;
      text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
      font-family: inherit;
      font-size: 20px;
      font-weight: 300;
      line-height: 27px;
      letter-spacing: 1px;

      @include respond(lg) {
        font-size: 2rem;
        line-height: 2.7rem;
      }
    }
  }

  &-main {
    @include movingElement(1);

    display: flex;
    flex-direction: column;
    gap: 3.6rem;

    @include respond(lg) {
      max-width: 51rem;
    }

    &__title {
      margin-bottom: 2rem;

      color: #fff;
      font-family: inherit;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      letter-spacing: 4.25px;
      text-transform: uppercase;
      position: relative;
      width: max-content;

      @include respond(lg) {
        font-size: 1.4rem;
        line-height: 1;
        margin-bottom: 1rem;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -0.6rem;
        left: -0.5rem;
        // left: 50%;
        // transform: translateX(-50%);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 0.4rem;
      }

      &--blue::before {
        background-image: url('/insignia/line-blue.svg');
      }

      &--aqua::before {
        background-image: url('/insignia/line-aqua.svg');
      }

      &--yellow::before {
        background-image: url('/insignia/line-yellow.svg');
      }

      &--magenta::before {
        background-image: url('/insignia/line-magenta.svg');
      }

      &--violet::before {
        background-image: url('/insignia/line-violet.svg');
      }
    }

    &__header {
      margin-bottom: 1rem;
      color: #fff;
      font-family: inherit;
      font-size: 50px;
      line-height: 1;
      font-weight: 900;
      letter-spacing: 1px;

      @include respond(lg) {
        font-size: 7rem;
      }
    }

    &__versions {
      padding-top: 2.4rem;
      display: flex;
      flex-direction: column;
      gap: 2.8rem;
    }

    &__item {
      display: flex;
      gap: 2.4rem;
      // align-items: flex-start;

      // @include respond(lg) {
      //   font-size: 1.8rem;
      //   line-height: 1;
      // }
    }

    &__version {
      color: #fff;
      font-family: inherit;
      font-size: 18px;
      line-height: 26px;
      font-weight: 300;
      letter-spacing: 1.064px;
      padding-top: 0.4rem;

      @include respond(lg) {
        font-size: 1.8rem;
        line-height: 1;
      }
    }

    &__info {
      color: #fff;
      font-family: inherit;
      font-size: 20px;
      line-height: 26px;
      font-weight: 300;
      letter-spacing: 1.064px;

      @include respond(lg) {
        font-size: 2rem;
        line-height: 1;
      }
    }
  }

  &-add {
    @include movingElement(1.1);

    display: flex;
    flex-direction: column;
    gap: 10rem;

    @include respond(lg) {
      max-width: 41rem;
      gap: 4.8rem;
    }

    &__header {
      margin-bottom: 1rem;

      color: #fff;
      font-family: inherit;
      font-weight: 900;
      letter-spacing: 1px;
      font-size: 36px;
      line-height: 38px;

      @include respond(lg) {
        font-size: 4.8rem;
        line-height: 5.2rem;
      }
    }

    &__list {
      margin-top: -1rem;
      margin-bottom: 1rem;
    }

    &__item {
      margin-left: 3rem;
      position: relative;

      color: #fff;
      text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
      font-family: inherit;
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 20px;
      line-height: 27px;

      @include respond(lg) {
        font-size: 2rem;
        line-height: 2.7rem;
      }

      &::before {
        content: '';
        position: absolute;
        left: -2rem;
        top: 50%;
        transform: translateY(-50%);
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background-color: #fff;
      }
    }

    &__button {
      cursor: pointer;
      color: #fff;
      width: max-content;

      font-family: inherit;
      font-size: 2.8rem;
      font-weight: 400;
      letter-spacing: 4.25px;
      text-transform: uppercase;

      background-size: cover;
      background-repeat: no-repeat;
      padding: 1rem 2rem;

      @include respond(lg) {
        font-size: 1.4rem;
      }

      &--blue {
        background-image: url('/img/rectangle-blue.svg');
      }

      &--aqua {
        background-image: url('/img/rectangle-aqua.svg');
      }

      &--yellow {
        background-image: url('/img/rectangle-yellow.svg');
      }

      &--magenta {
        background-image: url('/img/rectangle-magenta.svg');
      }

      &--violet {
        background-image: url('/img/rectangle-violet.svg');
      }
    }
  }
}

.substrate-earth-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: none;

  @include respond(lg) {
    display: block;
  }
  @include movingElement(1.2);

  &__planet {
    position: absolute;
    top: calc(50% - $sizeSubstratePlanet / 2);
    left: 50%;
    transform: translateX(-50%);

    &-3-wrap,
    &-2-wrap,
    &-1-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      //   position: relative;
    }

    &-2-wrap {
      width: calc($sizeSubstratePlanet - 8rem);
      height: calc($sizeSubstratePlanet - 8rem);
      border-radius: 418px;
      background: rgba(162, 0, 188, 0.16);
    }

    &-1-wrap {
      width: calc($sizeSubstratePlanet - 12.2rem);
      height: calc($sizeSubstratePlanet - 12.2rem);
      border-radius: 50%;
      background: rgba(162, 0, 188, 0.16);
    }

    img {
      width: calc($sizeSubstratePlanet - 14.4rem);
      height: calc($sizeSubstratePlanet - 14.4rem);
    }
  }

  &__satellite-1 {
    position: absolute;
    @include movingElement(1.3);

    top: calc(47% - $sizeSubstratePlanet / 2);
    left: calc(13% + $sizeSubstratePlanet / 2);
    img {
      width: 4rem;
      height: 4rem;
    }
  }

  &__satellite-2 {
    position: absolute;
    @include movingElement(1.4);
    top: calc(49% - $sizeSubstratePlanet / 2);
    left: calc(78% - $sizeSubstratePlanet / 2);
    img {
      width: 5.7rem;
      height: 5.7rem;
    }
  }

  &__luna {
    position: absolute;
    @include movingElement(1.5);
    top: calc(89% - $sizeSubstratePlanet / 2);
    left: calc(48% - $sizeSubstratePlanet / 2);
    img {
      width: 6.8rem;
    }
  }

  &__space-station {
    position: absolute;
    top: 50%;
    left: calc(50% - $sizeSubstrateSpaceStation / 2);
    transform: translateY(-50%);
    width: $sizeSubstrateSpaceStation;

    img {
      width: 100%;
    }
  }
}

.scroll-down {
  @extend %opacityScroll;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  gap: 1rem;
  display: none;

  @include respond(lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #fff;
    font-family: 'Londrina Solid';
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 1px;
  }

  img {
    width: 100%;
  }
}

$deep-page-pink: 100vh;
.deep-page {
  // &--active {
  //   opacity: 1;
  //   transform: none;
  //   transition-timing-function: ease;
  //   transition-delay: $headingsDelay;
  // }
  // display: none;
  max-width: 100vw;
  @include respond(lg) {
    display: block;
    width: 100vw;
    max-width: 100vw;
  }

  &__substrate-pink {
    @include movingElement(1);
    position: relative;
    min-height: 120vh;
    width: 100%;
    background-image: url('/img/show-up-pink.svg');
    background-repeat: no-repeat;
    background-size: calc($maxWidthAllContent * 2.5) 250rem;
    background-position: top 50% left 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    @include respond(lg) {
      background-size: calc($maxWidthAllContent * 1.5) $deep-page-pink;
      min-height: $deep-page-pink;
    }

    @include respond(2xl) {
      background-size: calc(100vw * 1.5) $deep-page-pink;
    }
  }

  &__substrate-blue {
    // @extend %movingContainer;
    width: 100%;
    background-image: url('/img/show-up-blue.svg');
    background-repeat: no-repeat;
    background-size: calc($maxWidthAllContent * 2.5) 120%;
    background-position: bottom left 50%;
    min-height: 120vh;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(lg) {
      background-size: calc($maxWidthAllContent * 1.5) 100%;
      min-height: 98vh;
    }

    @include respond(2xl) {
      background-size: calc(100vw * 1.5) 100%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3.4rem;

    max-width: 100vw;
    @include respond(lg) {
      max-width: $maxWidthAllContent;
    }
  }

  &__wrap {
    // max-width: 103.4rem;
    @include movingElement(1);
    max-width: 100vw;
    padding: 03.2rem;
  }

  &__title {
    @include movingElement(1);
    margin: 0 auto 1rem auto;

    color: #fff;
    font-family: inherit;
    font-size: 46px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1.064px;

    @include respond(lg) {
      max-width: 114rem;
      font-size: 4.6rem;
    }
  }

  &__description {
    @include movingElement(1);
    margin: 0 auto 2.4rem auto;

    color: #fff;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.064px;
    line-height: 1;

    @include respond(lg) {
      max-width: 114rem;
      font-size: 2rem;
    }
  }

  // &__cards {
  //   max-width: 103.4rem;
  //   display: flex;
  //   justify-content: space-between;
  //   gap: 2.4rem;
  //   margin-bottom: 4.6rem;
  // }

  // &__card {
  //   flex: 1 0 23.1rem;
  //   max-width: 23.1rem;
  // }

  &__body {
    @include movingElement(1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    @include movingElement(1);
    margin-bottom: 2rem;

    color: #fff;
    font-family: inherit;
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3.06px;
    text-transform: uppercase;
    text-align: center;

    @include respond(lg) {
      font-size: 5.6rem;
    }
  }

  &__caption {
    @include movingElement(1);
    margin-bottom: 2rem;

    color: #fff;
    font-family: inherit;

    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1.064px;

    @include respond(lg) {
      font-size: 4rem;
    }
  }

  &__text {
    @include movingElement(1);
    margin-bottom: 6rem;

    color: #fff;
    font-family: inherit;
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 1.064px;
    text-align: center;

    @include respond(lg) {
      font-size: 3rem;
      line-height: 1;
      margin-bottom: 3rem;
    }
  }

  &__button {
    @include movingElement(1);
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 4.6rem;
    font-weight: 400;
    letter-spacing: 1.064px;
    text-transform: capitalize;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2rem;

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }
}

.deep-page-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
  padding: 2.4rem 0;

  @include respond(lg) {
    max-width: 130.2rem;
    padding: 2.4rem 0;
  }

  &__arrow {
    cursor: pointer;
    transition: transform 0.4s ease;
    width: 4rem;
    display: none;

    @include respond(lg) {
      display: block;
    }

    &:hover {
      transform: scale(1.1);
    }

    &--left {
      margin-right: 5.5rem;
    }

    &--right {
      margin-left: 5.5rem;
    }

    img {
      width: 100%;
    }
  }
  .swiper-slide {
    @include movingElement(1);
    max-width: 248px;

    @include respond(lg) {
      max-width: 26.4rem;
    }
  }
  &__img-container {
    width: 49.5rem;
    height: 32.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 2.4rem;
    background-color: rgba(55, 6, 113, 0.9);

    @include respond(lg) {
      width: 23.1rem;
      height: 15.3rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 3px solid rgba(253, 232, 176, 0.5);
      z-index: 1;
      border-radius: 0.6rem;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      width: 100%;
      transition: transform 0.4s;
    }
  }

  &__img-name {
    color: #b5a8e8;
    font-family: inherit;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 1.064px;
    display: inline-block;

    @include respond(lg) {
      font-size: 2rem;
    }
  }
}

.dark-page {
  padding: 11rem 4.3rem;
  display: flex;
  align-items: center;

  &__content {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include movingElement(1);

    &--center {
      margin: 0 auto;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  &__header {
    @include movingElement(1.1);
    margin-bottom: 1.6rem;

    text-transform: uppercase;
    color: #fff;
    font-family: inherit;
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    letter-spacing: 3.06px;

    @include respond(lg) {
      font-size: 7rem;
      margin-bottom: 0.8rem;
      letter-spacing: 1px;
      text-transform: capitalize;
    }
  }

  &__description {
    @include movingElement(1.2);
    margin-bottom: 10rem;

    color: #fff;
    text-align: center;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1px;

    @include respond(lg) {
      margin-bottom: 1rem;
      font-size: 2rem;
      max-width: 92.6rem;
      line-height: 2.7rem;
    }
  }

  &__button {
    @include movingElement(1.5);
    margin-top: 10rem;
    max-width: calc(100vw - 6rem);

    cursor: pointer;
    color: #fff;
    width: max-content;
    text-decoration: none;
    font-family: inherit;
    font-size: 4.6rem;
    font-weight: 400;
    letter-spacing: 4.25px;
    text-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 3rem;

    @include respond(lg) {
      margin-top: 0;
    }

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--pink {
      background-image: url('/img/rectangle-pink.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }
}

.company-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $maxWidthAllContent;
  width: 100%;
  @include movingElement(1.4);

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.6rem;
  }

  &__card {
    flex: 1 1 33%;
    max-width: 33%;
  }

  &__arrow {
    cursor: pointer;
    transition: transform 0.4s ease;
    display: none;

    @include respond(lg) {
      display: block;
    }

    &:hover {
      transform: scale(1.1);
    }

    &--left {
      margin-right: 5.5rem;
    }

    &--right {
      margin-left: 5.5rem;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: #fff;
    // text-align: center;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 28px;
    line-height: 32px;

    @include respond(lg) {
      margin-bottom: 2rem;
      line-height: 1;
    }
  }

  &__description {
    min-height: 8rem;
    margin-bottom: 30px;

    color: #fff;
    // text-align: center;
    // text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 1px;

    // font-size: 4.2rem;
    // line-height: 5.6rem;

    @include respond(lg) {
      font-size: 2rem;
      line-height: 2.7rem;
      margin-bottom: 2.8rem;
    }
  }

  &__button {
    cursor: pointer;
    color: #fff;
    width: max-content;
    padding: 1rem 2rem;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: inherit;
    font-size: 2.9rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 4.25px;
    text-transform: uppercase;

    @include respond(lg) {
      font-size: 1.4rem;
    }

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--pink {
      background-image: url('/img/rectangle-pink.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }
}

.submit-files {
  padding: 9.4rem 3.4rem;

  &__header {
    margin-bottom: 4.4rem;

    color: #fff;
    font-family: inherit;
    font-size: 33px;
    line-height: 46px;
    font-weight: 400;
    letter-spacing: 1.064px;

    @include respond(lg) {
      margin-bottom: 0.6rem;
      font-size: 4.6rem;
    }
  }

  &__description {
    color: #fff;
    font-family: inherit;

    font-weight: 300;
    letter-spacing: 1.064px;
    font-size: 20px;
    line-height: 27px;

    @include respond(lg) {
      font-size: 2rem;
      line-height: 2.7rem;
    }
  }

  &__item {
    color: #fff;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    margin-left: 3rem;
    font-size: 20px;
    line-height: 27px;

    @include respond(lg) {
      font-size: 2rem;
      line-height: 2.7rem;
    }

    &::before {
      content: '';
      position: absolute;
      left: -2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  &__types {
    display: flex;
    padding: 10.4rem 0;
    flex-direction: column;
    gap: 6.25rem;

    @include respond(lg) {
      flex-direction: row;
      gap: 7rem;
      padding: 4.8rem 0;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;

    @include respond(lg) {
      gap: 3rem;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    gap: 6.6rem;

    @include respond(lg) {
      gap: 3.2rem;
    }
  }

  &__type-name {
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;

    color: #fff;
    font-family: inherit;
    font-size: 33px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 3.874px;

    @include respond(lg) {
      padding: 1.1rem 1.4rem;
      font-size: 4.4rem;
    }

    &--yellow {
      background-color: #fa9f2b;
    }

    &--blue {
      background-color: #2b71fa;
    }

    &--magenta {
      background-color: #ba3c8f;
    }

    &--violet {
      background-color: #7c4ffd;
    }
  }

  &__caption,
  &__size {
    font-size: 20px;
    line-height: 1;
    font-family: inherit;
    letter-spacing: 1.064px;

    @include respond(lg) {
      font-size: 2rem;
    }
  }

  &__caption {
    color: #fff;
    font-weight: 400;
  }

  &__size {
    color: #b5a8e8;
    font-weight: 300;
    letter-spacing: 1.064px;
  }

  &__button {
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 4.6rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2rem;

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--pink {
      background-image: url('/img/rectangle-pink.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }
}

.sustainability-galery {
  // padding: 4.6rem 0 0 0;
  margin: 4.6rem auto 4.6rem auto;
  max-width: 102.4rem;
  // max-height: 44rem;
  overflow-y: auto;
  overflow-x: hidden;
  @include hideScroll;
  @include movingElement(1.2);

  @include respond(lg) {
    max-height: 50rem;
    margin: 2.6rem auto 2.6rem auto;
  }

  @include respond(2xl) {
    max-height: 50rem;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 4.2rem 2.9rem;

    flex-wrap: wrap;
  }

  &__card {
    flex: 1 0 calc(50% - 4.9rem / 2);
    max-width: calc(50% - 4.9rem / 2);
    position: relative;

    @include respond(lg) {
      flex: 1 0 calc(25% - 4.9rem / 2);
      max-width: calc(25% - 4.9rem / 2);
    }

    &--none {
      display: none;
    }
  }

  &__img-container {
    // width: 28.75;
    // height: 19.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    overflow: hidden;
    position: relative;
    background-color: rgba(55, 6, 113, 0.9);
    cursor: pointer;

    // @include respond(lg) {
    //   width: 23.1rem;
    //   height: 15.3rem;
    // }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 3px solid rgba(253, 232, 176, 0.5);
      z-index: 1;
      border-radius: 0.6rem;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    img {
      width: 100%;
      transition: transform 0.4s;
    }
  }

  &__type {
    padding: 0.4rem;
    border-radius: 0.4rem;
    position: absolute;
    right: -0.3rem;
    bottom: -0.3rem;
    z-index: 1;

    color: #fff;
    font-family: inherit;
    font-size: 7px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1.064px;

    @include respond(lg) {
      font-size: 1.2rem;
    }

    &--yellow {
      background-color: #fa9f2b;
    }

    &--blue {
      background-color: #2b71fa;
    }

    &--magenta {
      background-color: #ba3c8f;
    }

    &--violet {
      background-color: #7c4ffd;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    margin-bottom: 1rem;

    color: #fff;
    font-family: inherit;
    font-size: 5.6rem;
    font-weight: 400;
    letter-spacing: 3.06px;
    text-transform: uppercase;
  }

  &__caption {
    margin-bottom: 1rem;

    color: #fff;
    font-family: inherit;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1.064px;
  }

  &__text {
    margin-bottom: 2rem;

    color: #fff;
    font-family: inherit;
    font-size: 3rem;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1.064px;
  }

  &__button {
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 4.6rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1.064px;
    text-transform: capitalize;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2rem;

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }
}

.substrate-first-women {
  position: fixed;
  top: 0;
  left: 0;
  // transform: translate(-50%, -50%) scale(1.2);
  width: 100%;
  min-height: 100vh;
  background-image: url('/img/background-first-woman.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity $headingsAT 1s ease-out;
  // height: 100%;

  &--active {
    opacity: 1;
    transition-timing-function: ease;
    // transition-delay: $headingsDelay;
  }

  &--active {
    opacity: 1;
  }

  &__img-container {
    width: 88.2rem;
    // height: 57.2rem;
    position: absolute;
    bottom: 0;
    right: 0;

    img {
      width: 100%;
    }
  }
}

.first-woman {
  @include movingElement(1);
  margin: 0 -4.3rem;
  padding: 11rem 4.3rem;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__wrapper {
    max-width: 69rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-bottom: 12rem;

    @include respond(lg) {
      font-size: 7rem;
      margin-bottom: 0;
    }
  }

  &__header {
    margin-bottom: 10px;

    color: #fff;
    font-family: inherit;
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.06px;

    @include respond(lg) {
      margin-bottom: 0.8rem;
      letter-spacing: 1px;
      font-size: 7rem;
      text-transform: capitalize;
    }
  }

  &__description {
    color: #fff;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;

    @include respond(lg) {
      font-size: 2rem;
      line-height: 2.7rem;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    margin-bottom: 43.3rem;

    @include respond(lg) {
      max-width: 54rem;
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 20px;

    color: #fff;
    font-family: inherit;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1;

    @include respond(lg) {
      margin-bottom: 1rem;
      font-size: 3.2rem;
      line-height: 1;
    }
  }

  &__text {
    color: #fff;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 1px;

    @include respond(lg) {
      font-size: 2.6rem;
      line-height: 3.8rem;
    }
  }

  &__button {
    cursor: pointer;
    color: #fff;
    width: max-content;
    position: relative;
    z-index: 1;
    max-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.8rem 8rem 0.8rem 2rem;

    font-family: inherit;
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: 1.064px;
    text-transform: capitalize;
    text-align: center;

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }

  // &__substrate {
  //   @extend %movingContainer;
  //   width: 88.2rem;
  //   // height: 57.2rem;
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;

  //   img {
  //     width: 100%;
  //   }
  // }
}

.socials {
  margin: 0 auto 3rem auto;
  max-width: 96.6rem;
  overflow-y: auto;
  overflow-x: hidden;
  @include hideScroll;
  display: none;

  @include respond(lg) {
    display: block;
  }

  @include respond(2xl) {
    max-height: none;
  }

  &__cards {
    display: flex;
    gap: 4rem 2.9rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__card {
    @include movingCard;
    flex: 1 0 calc(33% - 4rem / 2);
    max-width: calc(33% - 4rem / 2);
    min-width: 29.4rem;
    min-height: 22.6rem;
    position: relative;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 0.6rem;
    border: 0.4rem solid rgba(255, 255, 255, 0.1);
    background: rgba(36, 24, 69, 0.6);
    margin: auto;
    cursor: pointer;

    //  @extend %movingContainer;

    // &:nth-child(1) {
    //   @include movingCard(1);
    // }

    // &:nth-child(2) {
    //   @include movingCard(1.2);
    // }

    // &:nth-child(3) {
    //   @include movingCard(1.3);
    // }

    // &:nth-child(4) {
    //   @include movingCard(1.4);
    // }

    // &:nth-child(5) {
    //   @include movingCard(1.5);
    // }

    // &:nth-child(6) {
    //   @include movingCard(1.6);
    // }

    // &:nth-child(7) {
    //   @include movingCard(1.7);
    // }
  }

  &__title {
    color: #fff;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: 0.9px;
  }

  &__links {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;

    img {
      width: 100%;
    }
  }

  &__button {
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 4.25px;
    text-transform: uppercase;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2rem;

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }
}

.socials-mobile {
  margin: 0 auto;
  max-width: 96.6rem;
  width: 100%;
  // overflow-y: auto;
  // overflow-x: hidden;
  padding: 40px 0;

  @include respond(lg) {
    display: none;
  }

  @include respond(2xl) {
    max-height: none;
  }

  // &__cards {
  //   display: flex;
  //   gap: 4rem 2.9rem;
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }

  .swiper-slide {
    max-width: 248px;
    min-height: 191px;
    position: relative;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    border: 3.4px solid rgba(255, 255, 255, 0.1);
    background: rgba(36, 24, 69, 0.6);
    margin: auto;
    cursor: pointer;
  }

  &__title {
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.9px;
  }

  &__links {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 21px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;

    img {
      width: 100%;
    }
  }

  &__button {
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 4.25px;
    text-transform: uppercase;
    line-height: 1;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2rem;

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }
}

.footer {
  @include movingElement(1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3rem 3.8rem;

  &__logo-institute {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(lg) {
      width: 13rem;
    }

    img {
      width: 100%;
    }
  }

  &__copyright {
    color: var(--White, #fff);

    font-family: inherit;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.5px;

    @include respond(lg) {
      font-size: 1.4rem;
    }
  }
}

$hungrtVh: 100vh;
$showUpBackgroundWidth: 230rem;
.show-up-socials {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  max-width: 100vw;
  overflow: hidden;

  // height: 100%;

  @include respond(lg) {
    position: absolute;
    bottom: -10rem;
    max-width: none;
  }

  &--active {
    opacity: 1;
    transform: none;
    transition-timing-function: ease;
  }

  &__substrate-pink {
    // @extend %movingContainer;

    position: relative;
    min-height: $deep-page-pink;
    width: 100%;
    background-image: url('/img/show-up-pink.svg');
    background-repeat: no-repeat;
    background-size: 380rem 233vh;

    background-position: top 50% left 50%;

    @include respond(lg) {
      background-size: calc($showUpBackgroundWidth * 1.5) $deep-page-pink;
    }
    @include respond(2xl) {
      background-size: calc(100vw * 1.5) $deep-page-pink;
    }
  }

  &__substrate-blue {
    // @extend %movingContainer;
    width: 100%;
    background-image: url('/img/show-up-blue.svg');
    background-repeat: no-repeat;
    background-size: 429.75rem 191vh;

    background-position: top 50% left 50%;
    min-height: $deep-page-pink;
    // padding-top: 18rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include respond(lg) {
      background-size: calc($showUpBackgroundWidth * 1.5 * 0.95) $deep-page-pink;
    }

    @include respond(2xl) {
      background-size: calc(100vw * 1.5 * 0.95) $deep-page-pink;
    }
  }

  // &__substrate-pink {
  //   position: relative;
  //   // min-height: calc($hungrtVh * 1);
  //   width: 100%;
  //   background-image: url('/img/show-up-pink.svg');
  //   background-repeat: no-repeat;
  //   background-size: $maxWidthAllContent 100%;
  //   background-position: bottom 0 left 50%;

  //   @include respond(2xl) {
  //     background-size: 100vw calc($hungrtVh * 1);
  //   }
  // }

  // &__substrate-blue {
  //   // min-height: calc($hungrtVh * 1);
  //   width: 100%;
  //   background-image: url('/img/show-up-blue.svg');
  //   background-repeat: no-repeat;
  //   background-size: $maxWidthAllContent 100%;
  //   background-position: bottom -1rem left 50%;
  //   display: flex;
  //   justify-content: center;

  //   @include respond(2xl) {
  //     background-size: 100vw calc($hungrtVh * 1);
  //   }
  // }

  &__head {
    width: 100%;
    padding: 4rem;
    max-width: $maxWidthAllContent;
    margin: 0 auto;
  }

  &__container {
    max-height: calc(100vh - 52px);
    overflow-y: auto;
    @include hideScroll;

    @include respond(lg) {
      max-height: none;
    }
  }

  &__body {
    // background-color: #ba3c8f;
    max-width: $maxWidthAllContent;
    margin: 0 auto;
    // margin: 10rem 3rem;
    padding: 8rem 4rem;
    display: flex;
    justify-content: center;
    gap: 8.1rem;
    flex-direction: column;

    @include respond(lg) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__close {
    // position: absolute;
    // top: 18rem;
    // left: calc(50% + $show-up-home-content-width / 2 + 33rem);
    cursor: pointer;
    width: 2.7rem;
    margin-left: auto;

    img {
      width: 100%;
    }
  }

  &__card {
    // border-radius: 0.8rem;
    // width: 40.1rem;
    // padding: 3.6rem 4rem;
    // background: rgba(0, 0, 0, 0.21);
    // backdrop-filter: blur(8.7px);
    // -webkit-backdrop-filter: blur(8.7px);

    @include respond(lg) {
      border-radius: 0.8rem;
      width: 40.1rem;
      padding: 3.6rem 4rem;
      background: rgba(0, 0, 0, 0.21);
      backdrop-filter: blur(8.7px);
      -webkit-backdrop-filter: blur(8.7px);
    }
  }

  &__company {
    padding: 1.2rem 5.1rem;
    background-color: #fff;
    margin-bottom: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(lg) {
      margin-bottom: 2rem;
    }
  }

  &__img-container {
    width: 45.2rem;

    @include respond(lg) {
      width: 21.7rem;
    }

    img {
      width: 100%;
    }
  }

  &__name {
    margin-bottom: 5rem;

    color: #fff;
    font-family: inherit;
    font-size: 5.41rem;
    font-weight: 400;
    line-height: 7.7rem;
    letter-spacing: 1.01px;
    min-height: 9rem;

    @include respond(lg) {
      margin-bottom: 0;
      font-size: 3.6rem;
      line-height: 3.74rem;
    }
  }

  &__links {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6.6rem;

    margin-bottom: 4.2rem;

    @include respond(lg) {
      gap: 3.2rem;
      margin-bottom: 2rem;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.25rem;

    @include respond(lg) {
      width: 2.4rem;
    }

    img {
      width: 100%;
    }
  }

  &__button {
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 4.25px;
    text-transform: uppercase;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2rem;

    @include respond(lg) {
      font-size: 2rem;
    }

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }
  &__header {
    margin-bottom: 1rem;

    color: #fff;
    font-family: inherit;
    font-size: 6.6rem;
    font-weight: 900;
    line-height: 10.8rem;
    letter-spacing: 1px;

    @include respond(lg) {
      font-size: 3.2rem;
      line-height: 5.2rem;
    }
  }
  &__list {
  }

  &__item {
    color: #fff;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-size: 5.4rem;
    font-weight: 300;
    line-height: 6.6rem;
    letter-spacing: 1px;
    position: relative;
    margin-left: 3rem;

    @include respond(lg) {
      font-size: 2.6rem;
      line-height: 3.2rem;
    }

    &:not(:last-child) {
      margin-bottom: 3.2rem;

      @include respond(lg) {
        margin-bottom: 1.6rem;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: -2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      background-color: #fff;
    }
  }
}

.show-up-sustainability-galery {
  // display: none;
  position: fixed;
  min-height: 100vh;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  opacity: 0;
  z-index: 8;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  max-width: 100vw;
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  // height: 100%;

  &--active {
    opacity: 1;
    transform: none;
    transition-timing-function: ease;

    .show-up-sustainability-galery__close {
      transition: opacity $headingsAT calc($headingsDelay / 2);
      opacity: 1;
    }
  }

  &__substrate-pink {
    // @extend %movingContainer;
    position: relative;
    min-height: $deep-page-pink;
    width: 100%;
    background-image: url('/img/show-up-pink.svg');
    background-repeat: no-repeat;
    background-size: calc($showUpBackgroundWidth * 2) $deep-page-pink;
    background-position: top 50% left 50%;

    @include respond(2xl) {
      background-size: calc(100vw * 2) $deep-page-pink;
    }
  }

  &__substrate-blue {
    // @extend %movingContainer;
    width: 100%;
    background-image: url('/img/show-up-blue.svg');
    background-repeat: no-repeat;
    background-size: calc($showUpBackgroundWidth * 2 * 0.9) $deep-page-pink;
    background-position: top 50% left 50%;
    min-height: $deep-page-pink;
    // padding-top: 18rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include respond(lg) {
      position: relative;
    }

    @include respond(2xl) {
      background-size: calc(100vw * 2) $deep-page-pink;
    }
  }

  &__head {
    padding: 4.3rem 4.3rem;
    max-width: $maxWidthAllContent;
    margin: 0 auto 0 auto;

    width: 100%;

    @include respond(lg) {
      position: relative;
    }
  }

  &__close {
    position: absolute;
    top: 4rem;
    right: 4rem;
    width: 2.8rem;
    cursor: pointer;
    opacity: 0;

    img {
      width: 100%;
    }

    @include respond(lg) {
      top: 0;
    }
  }

  &__body {
    max-width: $maxWidthAllContent;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7rem;
  }
}

.sustainability-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $maxWidthAllContent;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__card {
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    max-width: 100%;
    margin-bottom: 0.8rem;

    color: #fff;
    font-family: inherit;
    font-size: 6.8rem;
    font-weight: 400;
    letter-spacing: 1.064px;

    @include respond(lg) {
      font-size: 4.6rem;
      max-width: 104.8rem;
    }
  }

  &__description {
    max-width: 100%;
    margin-bottom: 5rem;

    color: #fff;
    font-family: inherit;
    font-size: 4.2rem;
    font-weight: 300;
    letter-spacing: 1.064px;

    @include respond(lg) {
      font-size: 2rem;
      max-width: 104.8rem;
      margin-bottom: 2.4rem;
    }
  }

  &__img-container {
    width: 100%;
    // width: 104.8rem;
    // height: 53.5rem;
    // width: calc(100vw - 10rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    overflow: hidden;
    position: relative;

    background-color: rgba(55, 6, 113, 0.9);

    @include respond(sm) {
      width: 50.8rem;
      margin: 0 auto;
      // height: 53.5rem;
    }

    @include respond(lg) {
      width: 104.8rem;
      height: 53.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 3px solid rgba(253, 232, 176, 0.5);
      z-index: 1;
      border-radius: 0.6rem;
    }

    img {
      width: 100%;
    }
  }

  &__arrow {
    cursor: pointer;
    transition: transform 0.4s ease;
    display: none;

    @include respond(lg) {
      display: block;
    }

    &:hover {
      transform: scale(1.1);
    }

    &--left {
      margin-right: 5.5rem;
    }

    &--right {
      margin-left: 5.5rem;
    }
  }
}

.cosmic-careers-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 131.2rem;
  width: 100%;
  padding: 7.4rem 0;

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.6rem;
  }

  &__card {
    flex: 1 1 33%;
    max-width: 33%;
  }

  .swiper-slide {
    @include movingElement(1);
  }

  &__arrow {
    cursor: pointer;
    transition: transform 0.4s ease;
    display: none;

    @include respond(lg) {
      display: block;
    }

    &:hover {
      transform: scale(1.1);
    }

    &--left {
      margin-right: 5.5rem;
    }

    &--right {
      margin-left: 5.5rem;
    }
  }

  &__img-container {
    width: 100%;
    // height: 15.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    overflow: hidden;
    position: relative;
    background-color: rgba(55, 6, 113, 0.9);

    @include respond(lg) {
      width: 31rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 3px solid rgba(253, 232, 176, 0.5);
      z-index: 1;
      border-radius: 0.6rem;
    }

    img {
      width: 100%;
    }
  }

  &__title {
    color: #fff;
    // text-align: center;
    color: #fff;
    font-family: inherit;
    font-size: 6.6rem;
    font-weight: 900;
    line-height: 10.8rem;
    letter-spacing: 1px;

    @include respond(lg) {
      font-size: 3.2rem;
      line-height: 5.2rem;
    }
  }

  &__button {
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 2.9rem;
    font-weight: 400;
    letter-spacing: 4.25px;
    text-transform: uppercase;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2rem;

    @include respond(lg) {
      font-size: 1.4rem;
    }

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--pink {
      background-image: url('/img/rectangle-pink.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }
}

$show-up-cosmic-careers-pink: 86vh;
$show-up-cosmic-careers-blue: 84vh;

.show-up-cosmic-careers {
  display: none;
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  // height: 100%;

  &--active {
    opacity: 1;
    transform: translateY(50%);
    transition-timing-function: ease;
    // transition-delay: $headingsDelay;
  }

  &--moving-up {
    transform: translateY(10%);

    .show-up-cosmic-careers__body {
      opacity: 1;
    }
  }

  &__substrate-pink {
    // @extend %movingContainer;
    position: relative;
    min-height: $show-up-cosmic-careers-pink;
    width: 100%;
    background-image: url('/img/show-up-pink.svg');
    background-repeat: no-repeat;
    background-size: calc($showUpBackgroundWidth * 1) $show-up-cosmic-careers-pink;
    background-position: top 50% left 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(2xl) {
      background-size: calc(100vw * 1) $show-up-cosmic-careers-pink;
    }
  }

  &__substrate-blue {
    // @extend %movingContainer;
    width: 100%;
    background-image: url('/img/show-up-blue.svg');
    background-repeat: no-repeat;
    background-size: calc($showUpBackgroundWidth * 1) $show-up-cosmic-careers-blue;
    // background-size: cover;
    background-position: top 50% left 50%;
    min-height: $show-up-cosmic-careers-blue;
    // padding-top: 18rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;
    position: relative;
    padding: 3rem 0;

    @include respond(2xl) {
      background-size: calc(100vw * 1) $show-up-cosmic-careers-blue;
    }
  }

  &__head {
    padding: 4.3rem 4.3rem 0 4.3rem;
    max-width: $maxWidthAllContent;
    margin: 0 auto 0 auto;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__body {
    max-width: $maxWidthAllContent;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 107.4rem;
    transition: opacity $headingsAT ease-in-out;
    opacity: 0;
    padding: 0 7rem 4.3rem 7rem;
  }

  &__header {
    color: #fff;
    text-align: center;
    font-family: inherit;
    font-size: 5.6rem;
    font-weight: 400;
    letter-spacing: 3.06px;
    text-transform: uppercase;
  }

  &__description {
    margin-bottom: 2.8rem;

    color: #fff;
    text-align: center;
    font-family: inherit;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1.064px;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 4.3rem;
    cursor: pointer;
  }

  &__button {
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 4.6rem;
    font-weight: 400;
    letter-spacing: 4.25px;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2rem;

    &--blue {
      background-image: url('/img/rectangle-blue.svg');
    }

    &--pink {
      background-image: url('/img/rectangle-pink.svg');
    }

    &--aqua {
      background-image: url('/img/rectangle-aqua.svg');
    }

    &--yellow {
      background-image: url('/img/rectangle-yellow.svg');
    }

    &--magenta {
      background-image: url('/img/rectangle-magenta.svg');
    }

    &--violet {
      background-image: url('/img/rectangle-violet.svg');
    }
  }
}
