.pagination {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 50%;
  width: $padding;
  transform: translateY(-50%) scale(0.8);
  opacity: 0;
  transition: opacity $rotatingAT, transform $rotatingAT;

  &.pagination--active {
    transform: translateY(-50%);
    opacity: 1;
  }

  &__arrow {
    $arrowSize: $pagiItemW;
    position: absolute;
    left: 50%;
    width: $arrowSize;
    height: $arrowSize;
    margin-left: $arrowSize / -2;
    border: 0.3rem solid #cfcfcf;
    border-left: none;
    border-bottom: none;
    transition: border-color 0.3s;
    cursor: pointer;

    &--up {
      bottom: 110%;
      transform: rotate(-45deg);
    }

    &--down {
      top: 110%;
      transform: rotate(135deg);
    }

    &:hover {
      border-color: $yellow;
    }
  }

  &__items {
    list-style-type: none;
  }

  &__item {
    position: relative;
    display: block;
    width: $pagiItemW;
    height: $pagiItemW;
    margin: 0 auto $pagiItemW * 2.5;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &:before {
      border-radius: 50%;
      border: 0.3rem solid #cfcfcf;
    }

    &:after {
      border-radius: 50%;
      background: $yellow;
      transform: scale(0);
      transition: transform 0.3s;
    }

    &.pagination--active:after,
    &:hover:after {
      transform: scale(1);
    }
  }
}
