$preloaderAT: 1.5s;
$preloaderDelay: 0.5s;
$preloaderFadeAT: 0.5s;

.preloader {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  transition: opacity $preloaderFadeAT;
  opacity: 1;
  overflow: hidden;

  &.inactive {
    opacity: 0;
  }

  &.hidden {
    display: none;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    animation: animatePreloader $preloaderAT $preloaderDelay ease-in forwards;
  }
}

@keyframes animatePreloader {
  to {
    transform: translate3d(100%, 0, 0);
  }
}
