.show-up-sustainability-galery {
  position: fixed;
  min-height: 80vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  transform: translateY(100%);
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  max-width: 100vw;
  overflow: hidden;
  background-image: url('/img/bg-new.png');
  background-repeat: no-repeat;
  background-size: 190% 120%;
  background-position: center top 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8vh 0 8vh 0;

  @include respond(lg) {
    padding: 6rem 0;
    background-size: 100% 122%;
    background-position: center top 20%;
    min-height: 100vh;
  }

  @include respond(tablet) {
    background-size: 200% 122%;
  }

  @include respond(3xl) {
    padding: 7vh 0 1vh 0;
  }
  @include respond(4xl) {
    padding: 8vh 0 1vh 0;
  }
  @include respond(5xl) {
    padding: 10vh 0 1vh 0;
  }

  &--active {
    opacity: 1;
    transform: translateY(8%);
    transition-timing-function: ease;

    @include respond(sm) {
      transform: translateY(0);
    }

    .show-up-sustainability-galery__close {
      transition: opacity $headingsAT calc($headingsDelay / 2);
      opacity: 1;
    }
  }

  &__head {
    width: 100%;
    max-width: 100vw;
    min-height: 40px;
    position: relative;

    @include respond(lg) {
      min-height: 50px;
      position: relative;
      max-width: $maxWidthAllContent;
    }

    @include respond(xl) {
      min-height: 5rem;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 4rem;
    cursor: pointer;
    width: 18px;
    margin-left: auto;

    @include respond(lg) {
      top: 50%;
      width: 2.7rem;
    }

    @include respond(tablet) {
      top: 50%;
    }

    img {
      width: 100%;
    }
  }

  &__body {
    max-width: $maxWidthAllContent;
    margin: 0 auto;
    width: 140rem;
    max-width: 100%;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 16px;
    min-height: 50vh;

    @include respond(lg) {
      padding: 0 10rem;
      max-width: 150vh;
    }

    @include respond(tablet) {
      max-width: 100%;
    }

    @include respond(xl) {
      padding: 0 8rem;
    }
  }
}

.sustainability-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $maxWidthAllContent;
  width: 100%;
  position: relative;
  // margin: 0 -16px;

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__swiper {
    margin: 0 -16px;
    padding: 0 16px;

    @include respond(lg) {
      margin: 0;
      padding: 0;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    max-width: 100%;
    margin-bottom: 8px;

    color: #fff;
    font-family: inherit;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 1.064px;
    line-height: 40px;

    @include respond(sm) {
      padding: 0 16px;
    }

    @include respond(lg) {
      margin-bottom: 0.8rem;
      font-size: 4.6rem;
      max-width: 104.8rem;
      line-height: 5.6rem;
      padding: 0;
    }
  }

  &__description {
    max-width: 100%;
    margin-bottom: 24px;

    color: #fff;
    font-family: inherit;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    letter-spacing: 1.064px;

    @include respond(sm) {
      padding: 0 16px;
    }

    @include respond(lg) {
      padding: 0;
      font-size: 2rem;
      width: 100%;
      max-width: 80vh;
      margin-bottom: 2.4rem;
    }
  }

  &__img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background-color: rgba(55, 6, 113, 0.9);

    @include respond(sm) {
      margin: 0 auto;
    }

    @include respond(lg) {
      margin: 0 auto;
      // height: 100%;
      // width: 104.8rem;
      // height: 52.28rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 3px solid rgba(253, 232, 176, 0.5);
      z-index: 1;
      border-radius: 0.6rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__arrow {
    cursor: pointer;
    transition: transform 0.4s ease;
    display: none;
    width: 2.4rem;
    flex-shrink: 0;

    img {
      width: 100%;
    }

    @include respond(lg) {
      display: block;
      position: absolute;
      top: 48%;
    }

    &:hover {
      transform: scale(1.1);
    }

    &--left {
      left: -6.5rem;
    }

    &--right {
      right: -6.5rem;
    }
    &.swiper-button-disabled {
      opacity: 0.2;
      pointer-events: none;
      user-select: none;
    }
  }
}

.collaborators-galery {
  position: fixed;
  min-height: 80vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  transform: translateY(100%);
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  max-width: 100vw;
  overflow: hidden;
  background-image: url('/img/bg-new.png');
  background-repeat: no-repeat;
  background-size: 190% 120%;
  background-position: center top 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8vh 0 8vh 0;

  @include respond(lg) {
    padding: 6rem 0;
    background-size: 100% 122%;
    background-position: center top 20%;
    min-height: 100vh;
  }

  @include respond(tablet) {
    background-size: 200% 122%;
  }

  @include respond(3xl) {
    padding: 7vh 0 1vh 0;
  }
  @include respond(4xl) {
    padding: 8vh 0 1vh 0;
  }
  @include respond(5xl) {
    padding: 10vh 0 1vh 0;
  }

  &--active {
    opacity: 1;
    transform: translateY(8%);
    transition-timing-function: ease;

    @include respond(sm) {
      transform: translateY(0);
    }

    .show-up-sustainability-galery__close {
      transition: opacity $headingsAT calc($headingsDelay / 2);
      opacity: 1;
    }
  }

  &__head {
    width: 100%;
    max-width: 100vw;
    min-height: 40px;
    position: relative;

    @include respond(lg) {
      min-height: 50px;
      position: relative;
      max-width: $maxWidthAllContent;
    }

    @include respond(xl) {
      min-height: 5rem;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 4rem;
    cursor: pointer;
    width: 18px;
    margin-left: auto;

    @include respond(lg) {
      top: 50%;
      width: 2.7rem;
    }

    @include respond(tablet) {
      top: 50%;
    }

    img {
      width: 100%;
    }
  }

  &__body {
    max-width: $maxWidthAllContent;
    margin: 0 auto;
    width: 122rem;
    max-width: 100%;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    min-height: 50vh;

    @include respond(lg) {
    }

    @include respond(tablet) {
      max-width: 100%;
    }

    @include respond(xl) {
      // padding: 0 8rem;
    }
  }
}

.collaborators-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $maxWidthAllContent;
  width: 100%;
  position: relative;
  // margin: 0 -16px;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__swiper {
    margin: 0 -16px;
    padding: 0 16px;

    @include respond(lg) {
      margin: 0;
      padding: 0;
    }
  }

  &__list {
    @include respond(lg) {
      display: flex;
      gap: 4%;
      width: 100%;
    }
  }

  &__col {
    @include respond(lg) {
      flex: 0 0 48%;
      padding-right: 5%;
    }
  }

  &__container {
    @include hideScroll;
    max-height: 90vh;
    overflow: auto;
    padding: 10px 16px;
    width: 100%;
    max-width: 100%;

    @include respond(lg) {
      padding: 10px 0;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    max-width: 100%;
    margin-bottom: 8px;

    color: #fff;
    font-family: inherit;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 1.064px;
    line-height: 40px;

    @include respond(sm) {
      padding: 0 16px;
    }

    @include respond(lg) {
      margin-bottom: 0.8rem;
      font-size: 3.8rem;
      max-width: 104.8rem;
      line-height: 1.2;
      padding: 0;
      display: flex;
      align-items: center;
    }
  }

  &__description {
    max-width: 100%;
    margin-bottom: 24px;

    color: #fff;
    font-family: inherit;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 300;
    letter-spacing: 1.064px;

    @include respond(sm) {
      padding: 0 16px;
    }

    @include respond(lg) {
      padding: 0;
      font-size: 3rem;
      line-height: 1.3;
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  &__img-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background-color: rgba(55, 6, 113, 0.9);

    @include respond(sm) {
      margin: 0 auto;
    }

    @include respond(lg) {
      margin: 0 auto;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 3px solid rgba(253, 232, 176, 0.5);
      z-index: 1;
      border-radius: 0.6rem;
    }

    img {
      width: 100%;
    }
  }

  &__arrow {
    cursor: pointer;
    transition: transform 0.4s ease;
    display: none;
    width: 2.4rem;
    flex-shrink: 0;

    img {
      width: 100%;
    }

    @include respond(lg) {
      display: block;
      position: absolute;
      top: 48%;
    }

    &:hover {
      transform: scale(1.1);
    }

    &--left {
      left: -6.5rem;
    }

    &--right {
      right: -6.5rem;
    }
    &.swiper-button-disabled {
      opacity: 0.2;
      pointer-events: none;
      user-select: none;
    }
  }

  &__col {
    .show-up-socials__item {
      span {
        display: block;
      }
    }
  }
}

.cosmic-careers-slider {
  @include movingElement(1.2);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
  padding: 2rem 0;

  @include respond(lg) {
    max-width: 122rem;
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.6rem;
  }

  &__card {
    flex: 1 1 33%;
    max-width: 33%;
  }

  &__swiper {
    margin: 0 -16px;
    padding: 0 16px;

    @include respond(lg) {
      margin: 0;
      padding: 0;
    }
  }

  &__arrow {
    cursor: pointer;
    transition: transform 0.4s ease;
    display: none;
    width: 2.4rem;
    flex-shrink: 0;

    img {
      width: 100%;
    }

    @include respond(lg) {
      display: block;
    }

    &:hover {
      transform: scale(1.1);
    }

    &--left {
      margin-right: 5.5rem;
    }

    &--right {
      margin-left: 5.5rem;
    }

    &.swiper-button-disabled {
      opacity: 0.2;
      pointer-events: none;
      user-select: none;
    }
  }

  .swiper-slide {
    max-width: 70vh;
    width: 290px;

    @include respond(lg) {
      margin-bottom: none;
    }
  }

  &__img-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    overflow: hidden;
    position: relative;
    background-color: rgba(55, 6, 113, 0.9);
    margin-bottom: 8px;

    @include respond(lg) {
      width: 100%;
      margin-bottom: 0.8rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 0.6rem solid rgba(253, 232, 176, 0.5);
      z-index: 1;
      border-radius: 0.6rem;

      @include respond(lg) {
        border: 0.6rem solid rgba(253, 232, 176, 0.5);
      }
    }

    img {
      width: 100%;
    }
  }

  &__title {
    color: #fff;
    color: #fff;
    font-family: inherit;
    font-size: 25px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 1px;
    margin-bottom: 8px;

    @include respond(lg) {
      margin-bottom: 0.8rem;
      font-size: 3.2rem;
      line-height: 3.7rem;
    }
  }

  &__caption {
    color: #fff;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    max-height: 100vh;
    transition: max-height $headingsAT ease;
    overflow: hidden;

    @include respond(lg) {
      margin-bottom: 0.8rem;
      font-size: 2rem;
      line-height: 2.6rem;
    }
  }

  &__button {
    @include rectangleButton;
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 2.9rem;
    font-weight: 400;
    letter-spacing: 4.25px;
    text-transform: uppercase;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem 2.5rem;
    opacity: 1;
    transition: opacity 0.6s;

    &:hover {
      opacity: 0.8;
    }

    @include respond(lg) {
      font-size: 1.4rem;
    }
  }
}

.show-up-cosmic-careers {
  display: none;
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity $headingsAT, transform $headingsAT ease-out;

  &--active {
    opacity: 1;
    transform: translateY(50%);
    transition-timing-function: ease;
  }

  &--moving-up {
    transform: translateY(10%);

    .show-up-cosmic-careers__body {
      opacity: 1;
    }
  }

  &__substrate-pink {
    position: relative;
    min-height: $show-up-cosmic-careers-pink;
    width: 100%;
    background-image: url('/img/show-up-pink.svg');
    background-repeat: no-repeat;
    background-size: calc($showUpBackgroundWidth * 1) $show-up-cosmic-careers-pink;
    background-position: top 50% left 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(2xl) {
      background-size: calc(100vw * 1) $show-up-cosmic-careers-pink;
    }
  }

  &__substrate-blue {
    width: 100%;
    background-image: url('/img/show-up-blue.svg');
    background-repeat: no-repeat;
    background-size: calc($showUpBackgroundWidth * 1) $show-up-cosmic-careers-blue;
    background-position: top 50% left 50%;
    min-height: $show-up-cosmic-careers-blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 3rem 0;

    @include respond(2xl) {
      background-size: calc(100vw * 1) $show-up-cosmic-careers-blue;
    }
  }

  &__head {
    padding: 4.3rem 4.3rem 0 4.3rem;
    max-width: $maxWidthAllContent;
    margin: 0 auto 0 auto;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__body {
    max-width: $maxWidthAllContent;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 107.4rem;
    transition: opacity $headingsAT ease-in-out;
    opacity: 0;
    padding: 0 7rem 4.3rem 7rem;
  }

  &__header {
    color: #fff;
    text-align: center;
    font-family: inherit;
    font-size: 5.6rem;
    font-weight: 400;
    letter-spacing: 3.06px;
    text-transform: uppercase;
  }

  &__description {
    margin-bottom: 2.8rem;

    color: #fff;
    text-align: center;
    font-family: inherit;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1.064px;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 4.3rem;
    cursor: pointer;
  }

  &__button {
    @include rectangleButton;
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 4.6rem;
    font-weight: 400;
    letter-spacing: 4.25px;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2rem;
    opacity: 1;
    transition: opacity 0.6s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.show-up-home {
  position: fixed;
  min-height: 500px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  width: 100%;
  transform: translateY(100%);
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  max-width: 100vw;
  overflow: hidden;
  background-image: url('/img/bg-new.png');
  background-repeat: no-repeat;
  // background-size: $maxWidthAllContent 740px;
  background-size: 180% 320%;
  background-position: top 3% left 51%;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;

  @media (min-height: 600px) {
    min-height: 500px;
  }

  @include respond(sm) {
    // background-position: top -13vw left 50%;
    padding: 75px 0 40px;
    min-height: 530px;
  }

  @include respond(lg) {
    padding: 11rem 0;
    min-height: 90rem;
    background-size: 100% 120%;
    background-position: top -52% left;
  }

  @include respond(xl) {
    padding: 13rem 0;
    min-height: 90rem;
  }

  @include respond(2xl) {
    padding: 15rem 0;
  }

  &--active {
    opacity: 1;

    transition-timing-function: ease;
    transform: translateY(20px);

    @include respond(sm) {
      transform: translateY(100px);
    }

    @include respond(md) {
      transform: translateY(88px);
    }

    @include respond(lg) {
      transform: translateY(7vw);
    }

    @include respond(xl) {
      transform: translateY(7rem);
    }

    @include respond(2xl) {
      transform: translateY(13rem);
    }

    .show-up-home__close {
      transition: opacity $headingsAT calc($headingsDelay / 2);
      opacity: 1;
    }
  }

  &__head {
    width: 100%;
    min-height: 70px;
    max-width: 100vw;

    @include respond(md) {
      min-height: 70px;
    }

    @include respond(lg) {
      min-height: 100px;
      position: relative;
      max-width: $maxWidthAllContent;
    }
  }

  &__close {
    position: absolute;
    top: 4rem;
    right: 4rem;
    cursor: pointer;
    width: 2.7rem;
    opacity: 0;
    display: none;

    @include respond(lg) {
      display: block;
      top: 34%;
    }

    @include respond(xl) {
      top: 20%;
    }
    @include respond(2xl) {
      top: 0;
    }

    img {
      width: 100%;
    }
  }

  &__content {
    max-width: 107.4rem;

    padding: 40px 16px 50px 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include respond(xs) {
      padding: 50px 20px 60px 20px;
    }

    @include respond(sm) {
      padding: 10px 16px 50px 16px;
    }

    @include respond(lg) {
      padding: 3.2rem 3.2rem 3.2rem 3.2rem;
      margin: 0 12.2rem;
    }
  }

  &__text {
    margin-bottom: 20px;

    color: #fff;
    font-family: inherit;
    letter-spacing: 0.1rem;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;

    @include respond(xs) {
      font-size: 24px;
    }

    @include respond(lg) {
      font-size: 4.6rem;
      // line-height: 5rem;
      line-height: 1.2;
      margin-bottom: 2rem;
    }
  }

  &__control {
    display: flex;
    flex-direction: column;

    justify-content: center;
    row-gap: 13px;
    margin-left: -6px;

    @include respond(lg) {
      margin-left: 0;
      row-gap: 4rem;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__button {
    @include rectangleButton;
    cursor: pointer;
    width: max-content;
    color: #fff;
    font-family: inherit;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.064px;
    white-space: nowrap;
    text-decoration: none;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 4rem;

    opacity: 1;
    transition: opacity 0.6s;

    &:hover {
      opacity: 0.8;
    }

    @include respond(xs) {
      font-size: 26px;
      margin-bottom: 5px;
    }

    @include respond(lg) {
      font-size: 4.6rem;
    }
  }
}

.show-up-submit {
  position: fixed;
  min-height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  z-index: 8;
  width: 100%;
  transform: translateY(100%);
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  max-width: 100vw;
  overflow: hidden;
  background-image: url('/img/bg-new.png');
  background-size: 190% 120%;
  background-position: center top 15%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12vh 0 0 0;

  @include respond(sm) {
    padding: 8vh 0 8vh 0;
    background-size: 200%;
    background-position: center top;
  }

  @include respond(lg) {
    max-width: none;
    padding: 4rem 0 4rem 0;
    background-size: 100% 122%;
    background-position: center top 20%;
  }

  @include respond(2xl) {
    padding: 8rem 0 8rem 0;
  }

  @include respond(tablet) {
    background-size: 200% 122%;
  }

  &--active {
    opacity: 1;

    transition-timing-function: ease;
    transform: translateY(0);

    @include respond(md) {
      transform: translateY(0);
    }

    .show-up-home__close {
      transition: opacity $headingsAT calc($headingsDelay / 2);
      opacity: 1;
    }
  }

  &__head {
    width: 100%;
    padding: 16px;
    max-width: $maxWidthAllContent;
    margin: 0 auto;

    @include respond(sm) {
      padding: 30px;
    }

    @include respond(lg) {
      max-height: none;
      padding: 4.3rem;
    }

    @include respond(tablet) {
      padding: 60px 32px 32px 32px;
    }
  }

  &__close {
    cursor: pointer;
    width: 18px;
    margin-left: auto;
    display: none;

    @include respond(lg) {
      width: 2.7rem;
      display: block;
    }

    img {
      width: 100%;
    }
  }
}

.submit-files {
  @include maxHeightShowUpDesktop;
  padding: 20px 20px 80px 20px;

  @media (max-height: 600px) {
    max-height: 67vh;
  }

  @media (min-height: 600px) {
    max-height: 83vh;
  }

  @include respond(lg) {
    padding: 3.4rem 3.4rem;
    max-height: 74vh;
    max-width: 92rem;
  }

  @include respond(lg) {
    max-height: 68rem;
  }

  &__header {
    margin-bottom: 4.4rem;

    color: #fff;
    font-family: inherit;
    font-size: 33px;
    line-height: 46px;
    font-weight: 400;
    letter-spacing: 1.064px;

    @include respond(lg) {
      margin-bottom: 0.6rem;
      font-size: 4.6rem;
    }
  }

  &__description {
    color: #fff;
    font-family: inherit;

    font-weight: 300;
    letter-spacing: 1.064px;
    font-size: 20px;
    line-height: 27px;

    @include respond(lg) {
      font-size: 2rem;
      line-height: 2.7rem;
    }
  }

  &__item {
    color: #fff;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    margin-left: 20px;
    font-size: 20px;
    line-height: 27px;

    @include respond(lg) {
      margin-left: 3rem;
      font-size: 2rem;
      line-height: 2.7rem;
    }

    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;

      @include respond(lg) {
        left: -2rem;
        width: 0.4rem;
        height: 0.4rem;
      }
    }
  }

  &__types {
    display: flex;
    padding: 10.4rem 0;
    flex-direction: column;
    gap: 6.25rem;

    @include respond(lg) {
      flex-direction: row;
      gap: 3rem;
      padding: 4.8rem 0;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    gap: 6.6rem;

    @include respond(lg) {
      gap: 3.2rem;
    }
  }

  &__type-name {
    @include backgroundColorType;
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;

    color: #fff;
    font-family: inherit;
    font-size: 33px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 3.874px;

    @include respond(lg) {
      padding: 1.1rem 1.4rem;
      font-size: 4.4rem;
    }
  }

  &__caption,
  &__size {
    font-size: 20px;
    line-height: 1;
    font-family: inherit;
    letter-spacing: 1.064px;

    @include respond(lg) {
      font-size: 2rem;
    }
  }

  &__caption {
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;

    @include respond(lg) {
      margin-bottom: 1rem;
    }
  }

  &__size {
    color: #b5a8e8;
    font-weight: 300;
    letter-spacing: 1.064px;
  }

  &__button {
    @include rectangleButton;
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 22px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 20px;
    opacity: 1;
    transition: opacity 0.6s;

    &:hover {
      opacity: 0.8;
    }

    @include respond(lg) {
      font-size: 4.6rem;
      padding: 1rem 5rem 1rem 4rem;
    }
  }
}

.show-up-socials {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
  width: 100%;
  height: 80vh;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  max-width: 100vw;
  overflow: hidden;
  padding: 7vh 0 0 0;
  background-image: url('/img/bg-new.png');
  background-size: 190% 120%;
  background-position: center top 15%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include respond(sm) {
    padding: 8vh 0 0 0;
    background-size: 120%;
    background-position: center top;
  }

  @include respond(md) {
    background-size: 190%;

    @media only screen and (max-height: 600px) {
      background-size: 118%;
    }
  }

  @include respond(tablet) {
    background-size: 125% 122%;
  }

  @include respond(lg) {
    max-width: none;
    padding: 4rem 0 4rem 0;
    background-size: 100% 130%;
    background-position: center top;
  }

  @include respond(2xl) {
    padding: 4rem 0 4rem 0;
  }

  &--active {
    opacity: 1;
    transform: none;
    transition-timing-function: ease;
  }

  &__head {
    width: 100%;
    padding: 16px;
    max-width: $maxWidthAllContent;
    margin: 0 auto;

    @include respond(lg) {
      max-height: none;
      padding: 4.3rem;
    }
  }

  &__close {
    cursor: pointer;
    width: 18px;
    margin-left: auto;

    @include respond(lg) {
      width: 2.7rem;
    }

    img {
      width: 100%;
    }
  }

  &__container {
    padding-bottom: 0;
    @include hideScroll;
    overflow-y: auto;

    @include respond(lg) {
      overflow-y: visible;
      max-height: none;
    }
  }

  &__content {
    @include respond(lg) {
      @include hideScroll;
      overflow-y: auto;
      max-height: 58vh;
    }
  }

  &__body {
    max-width: $maxWidthAllContent;
    margin: 0 auto;
    padding: 36px 16px;
    display: flex;
    justify-content: center;
    gap: 54px;
    flex-direction: column;

    @include respond(lg) {
      gap: 8.1rem;
      padding: 4rem 4rem 1rem;
      flex-direction: row;
      align-items: flex-start;
    }

    @include respond(xl) {
      padding: 1rem 4rem;
    }
  }

  &__card {
    @include respond(lg) {
      border-radius: 0.8rem;
      width: 40.1rem;
      padding: 3.6rem 4rem;
      background: rgba(0, 0, 0, 0.21);
      backdrop-filter: blur(8.7px);
      -webkit-backdrop-filter: blur(8.7px);
    }
  }

  &__company {
    padding: 12px 36px;
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(lg) {
      padding: 1.2rem 5.1rem;
      margin-bottom: 2rem;
    }
  }

  &__img-container {
    width: 216px;

    @include respond(lg) {
      width: 21.7rem;
    }

    img {
      width: 100%;
    }
  }

  &__name {
    margin-bottom: 28px;

    color: #fff;
    font-family: inherit;
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 1.01px;

    @include respond(lg) {
      margin-bottom: 0;
      font-size: 3.6rem;
      line-height: 3.74rem;
      min-height: 9rem;
    }
  }

  &__links {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 20px;

    @include respond(lg) {
      gap: 3.2rem;
      margin-bottom: 2rem;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;

    @include respond(lg) {
      width: 2.4rem;
    }

    img {
      width: 100%;
    }
  }

  &__button {
    @include rectangleButton;
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 4.25px;
    text-transform: uppercase;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 6px 35px 6px 16px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.6s;

    &:hover {
      opacity: 0.8;
    }

    @include respond(lg) {
      font-size: 2rem;
      padding: 0.6rem 4rem 0.6rem 3rem;
      margin-left: 2rem;
    }
  }
  &__header {
    margin-bottom: 20px;

    color: #fff;
    font-family: inherit;
    font-size: 32px;
    font-weight: 900;
    line-height: 52px;
    letter-spacing: 1px;

    @include respond(lg) {
      margin-bottom: 1rem;
      font-size: 3.2rem;
      line-height: 5.2rem;
    }
  }
  &__list {
    list-style: none;
  }

  &__item {
    color: #fff;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 1px;
    position: relative;
    margin-left: 16px;
    margin-bottom: 16px;

    span {
      font-weight: 900;
    }

    @include respond(lg) {
      margin-left: 1.8rem;
      font-size: 3rem;
      line-height: 1.2;
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @include respond(lg) {
        margin-bottom: 2rem;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;

      @include respond(lg) {
        left: -2rem;
        width: 0.4rem;
        height: 0.4rem;
      }
    }
  }
}

.show-up-educators {
  opacity: 0;
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  // transition: opacity calc($headingsAT / 2), transform calc( $headingsAT / 2 ) ease-out;
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  display: none;

  @include respond(lg) {
    display: block;
  }

  &--show {
    opacity: 1;
    transform: translateY(45%);
    transition-timing-function: ease;
    transition: opacity $headingsAT, transform $headingsAT ease-out;
    // transition-delay: calc($headingsDelay * 1.4);

    @include respond(xl) {
      transform: translateY(48%);
    }

    @include respond(2xl) {
      transform: translateY(49%);
    }
  }

  &--active {
    transform: translateY(0);
    transition-timing-function: ease;
    transition-delay: 0s;
    transition: opacity $headingsAT, transform $headingsAT ease-out;
    .show-up-educators__container {
      padding-top: 120px;

      @include respond(xl) {
        padding-top: 128px;
      }

      @include respond(2xl) {
        padding-top: 136px;
      }

      @include respond(3xl) {
        padding-top: 142px;
      }

      @include respond(4xl) {
        padding-top: 150px;
      }
    }

    .show-up-educators__body {
      opacity: 1;
    }
  }

  &__container {
    background-image: url('/img/bg-new.png');
    background-size: 190% 120%;
    background-position: center top 15%;
    padding: 3rem 0;
    transition: padding-top $headingsAT ease;

    @include respond(lg) {
      background-size: 100%;
      background-position: center top;
      padding-top: 96px;
    }

    @include respond(xl) {
      padding-top: 100px;
    }

    @include respond(2xl) {
      padding-top: 110px;
    }

    @include respond(3xl) {
      padding-top: 122px;
    }

    @include respond(4xl) {
      padding-top: 135px;
    }
  }

  &__head {
  }

  &__header {
    margin-bottom: 2rem;

    color: #fff;
    font-family: inherit;
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3.06px;
    text-transform: uppercase;
    text-align: center;

    @include respond(lg) {
      font-size: 5.6rem;
    }
  }

  &__body {
    transition: opacity $headingsAT ease;
    opacity: 0;
  }

  &__description {
    margin: 0 auto 2.4rem auto;

    color: #fff;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.064px;
    line-height: 26px;
    text-align: center;

    @include respond(lg) {
      max-width: 114rem;
      font-size: 2rem;
      line-height: 2.6rem;
    }
  }

  &__register {
    color: inherit;
    font-family: inherit;
    font-weight: 900;
    text-decoration: underline;
  }

  &__button-block {
    text-align: center;
  }

  &__button {
    @include rectangleButton;
    cursor: pointer;
    color: #fff;
    width: max-content;

    font-family: inherit;
    font-size: 4.6rem;
    font-weight: 400;
    letter-spacing: 1.064px;
    text-transform: capitalize;

    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 2rem;
    opacity: 1;
    transition: opacity 0.6s;

    &:hover {
      opacity: 0.8;
    }
  }
}
