@font-face {
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf');
  font-family: 'Custom Font';
}
$maxWidthAllContent: 190.2rem;
$arrowSize: 20px;
$customFont: 'Custom Font', Helvetica, Arial, sans-serif;

$numOfPages: 13;

$padding: 50px;
$pagiItemW: 14px;
$yellow: #f6cc4c;

$rotatingAT: 1s;
$headingsAT: $rotatingAT * 0.6;
$headingsDelay: $rotatingAT * 0.8;

$phoneW: 36.4rem;
$phoneH: $phoneW * 2.042;
$iphoneImg: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/iphone-6-mockup.png';

$sizeSubstratePlanet: 47.2rem;
$sizeSubstrateSpaceStation: 52.5rem;
$show-up-home-pink: 100vh;
$show-up-home-blue: calc($show-up-home-pink - 2rem);
$show-up-home-content-width: 67rem;

%movingContainer {
  @include respond(lg) {
    opacity: 0;
    transition: opacity $headingsAT, transform $headingsAT ease-out;

    .page.page--moving-up & {
      transform: translateY(200px);
    }

    .page.page--moving-down & {
      transform: translateY(-200px);
    }

    .page.page--active & {
      opacity: 1;
      transform: none;
      transition-timing-function: ease;
      transition-delay: $headingsDelay;
    }
  }
}

%movingSubstrate {
  opacity: 0;
  transition: opacity calc($headingsAT * 1.5), transform calc($headingsAT * 1.5) ease-out;

  .page.page--moving-up & {
    transform: translateY(200px);
  }

  .page.page--moving-down & {
    transform: translateY(-200px);
  }

  .page.page--active & {
    opacity: 1;
    transform: none;
    transition-timing-function: ease;
    transition-delay: $headingsDelay;
  }
}

// %movingEarthPlanet {
//   opacity: 0;
//   transition: opacity calc($headingsAT * 1.5), transform calc($headingsAT * 1.5) ease-out;

//   .page.page--moving-up & {
//     transform: translateY(200px);
//   }

//   .page.page--moving-down & {
//     transform: translateY(-200px);
//   }

//   .page.page--active & {
//     opacity: 1;
//     transform: none;
//     transition-timing-function: ease;
//     transition-delay: $headingsDelay;
//   }
// }

@mixin movingElement($delay) {
  @include respond(lg) {
    opacity: 0;
    transition: opacity $headingsAT, transform $headingsAT ease-out;

    .page.page--moving-up & {
      transform: translateY(200px);
      // transition-delay: calc($headingsDelay * $delay);
    }

    .page.page--moving-down & {
      transform: translateY(-200px);
      // transition-delay: calc($headingsDelay * 1);
    }

    .page.page--active & {
      opacity: 1;
      transform: none;
      transition-timing-function: ease;
      transition-delay: calc($headingsDelay * $delay);
      // transition-delay: calc($headingsDelay * $delay);
    }
  }
}

@mixin movingCard {
  @include respond(lg) {
    opacity: 0;
    transition: opacity $headingsAT, transform $headingsAT ease-out;
    transform: translateY(200px);

    // .page.page--moving-up & {
    //   transform: translateY(200px);
    // }

    // .page.page--moving-down & {
    //   transform: translateY(-200px);
    // }

    .page.page--active & {
      opacity: 1;
      transform: none;
      transition-timing-function: ease;
      transition-delay: $headingsDelay;
    }
  }
}

%movingBodyBottom {
  transition: transform calc($headingsAT * 1.2) ease-out;
  transform: translateY(100%) scaleY(0.8);
  transition-delay: $headingsDelay;

  .substrate-body.substrate-body--to-bottom & {
    opacity: 1;
    transform: translateY(0) scaleY(0.8);
    transition-timing-function: ease;
    transition-delay: $headingsDelay;
  }

  .substrate-body.substrate-body--to-top & {
    opacity: 1;
    transform: translateY(-60%) scaleY(0.8);
    transition-timing-function: ease;
    transition-delay: $headingsDelay;
  }
}

@mixin hideScroll {
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

%scaleBody {
  transition: background-size $headingsAT ease-out;
  // transition: transform $headingsAT ease-out;

  &.substrate-body--active {
    // background-size: 3040px, 1568px;
    background-size: 420%, 100vh;

    @include respond(lg) {
      background-size: 190%, 120vh;
    }

    // transform: translate(-50%, -50%) scale(2.8);
  }
}

%opacityScroll {
  opacity: 0;
  transition: opacity calc($headingsAT / 2) ease-out;

  .page.page--active & {
    opacity: 1;
    transition: opacity $headingsAT calc($headingsAT * 4) ease-out;

    img {
      animation: bounce;
      animation-duration: 1s;
      animation-delay: 5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}

// @mixin centerElement($width, $height) {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   width: $width;
//   height: $height;
//   margin-left: $width / -2;
//   margin-top: $height / -2;
// }

// %movingHeading {
//     position: absolute;
//     right: calc(50% + #{$phoneW} / 2 + 5rem);
//     opacity: 0;
//     transform: translateY(200px);
//     transition: opacity $headingsAT, transform $headingsAT ease-out;

//     .page.active & {
//       opacity: 1;
//       transform: none;
//       transition-timing-function: ease;
//       transition-delay: $headingsDelay;
//     }
//   }
