@font-face {
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf');
  font-family: 'Custom Font';
}
$arrowSize: 20px;
$customFont: 'Custom Font', Helvetica, Arial, sans-serif;

$numOfPages: 6;

$padding: 50px;
$pagiItemW: 14px;
$yellow: #f6cc4c;

$rotatingAT: 1s;
$headingsAT: $rotatingAT * 0.6;
$headingsDelay: $rotatingAT * 0.8;

$phoneW: 36.4rem;
$phoneH: $phoneW * 2.042;
$iphoneImg: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/iphone-6-mockup.png';

$sizeSubstratePlanet: 47.2rem;
$show-up-home-pink: 100%;
$show-up-home-blue: calc($show-up-home-pink - 2rem);
$show-up-home-content-width: 67rem;

%movingContainer {
  opacity: 0;
  transition: opacity $headingsAT, transform $headingsAT ease-out;

  .page.page--moving-up & {
    transform: translateY(200px);
  }

  .page.page--moving-down & {
    transform: translateY(-200px);
  }

  .page.page--active & {
    opacity: 1;
    transform: none;
    transition-timing-function: ease;
    transition-delay: $headingsDelay;
  }
}

// @mixin centerElement($width, $height) {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   width: $width;
//   height: $height;
//   margin-left: $width / -2;
//   margin-top: $height / -2;
// }

// %movingHeading {
//     position: absolute;
//     right: calc(50% + #{$phoneW} / 2 + 5rem);
//     opacity: 0;
//     transform: translateY(200px);
//     transition: opacity $headingsAT, transform $headingsAT ease-out;

//     .page.active & {
//       opacity: 1;
//       transform: none;
//       transition-timing-function: ease;
//       transition-delay: $headingsDelay;
//     }
//   }
