$maxWidthAllContent: 1920px;

$preloaderAT: 1.5s;
$preloaderDelay: 0.5s;
$preloaderFadeAT: 0.5s;

$rotatingAT: 1s;
$headingsAT: $rotatingAT * 0.6;
$headingsDelay: $rotatingAT * 0.8;

$sizeSubstratePlanetMobile: 243px;
$sizeSubstrateObject: 70rem;
$sizeSubstratePlanet: 52rem;
$sizeSubstrateSpaceStation: 52.5rem;
$show-up-home-pink: 100vh;
$show-up-home-blue: calc($show-up-home-pink - 2rem);
$show-up-home-content-width: 67rem;
$deep-page-pink: 100vh;
$showUpBackgroundWidth: 230rem;
$show-up-cosmic-careers-pink: 86vh;
$show-up-cosmic-careers-blue: 84vh;
$hideDurationNav: 0.2s;
$showDurationNav: 0.4s;

@mixin lineTitle {
  &--dark-blue::before {
    background-image: url('/insignia/line-dark-blue.svg');
  }

  &--blue::before {
    background-image: url('/insignia/line-blue.svg');
  }

  &--middle-blue::before {
    background-image: url('/insignia/line-middle-blue.svg');
  }

  &--aqua::before {
    background-image: url('/insignia/line-aqua.svg');
  }

  &--yellow::before {
    background-image: url('/insignia/line-yellow.svg');
  }

  &--magenta::before {
    background-image: url('/insignia/line-magenta.svg');
  }

  &--violet::before {
    background-image: url('/insignia/line-violet.svg');
  }

  &--mint::before {
    background-image: url('/insignia/line-mint.svg');
  }

  &--light-pink::before {
    background-image: url('/insignia/line-light-pink.svg');
  }
}

@mixin rectangleButton {
  &--dark-blue {
    background-image: url('/img/rectangle-dark-blue.svg');
  }

  &--blue {
    background-image: url('/img/rectangle-blue.svg');
  }

  &--aqua {
    background-image: url('/img/rectangle-aqua.svg');
  }

  &--yellow {
    background-image: url('/img/rectangle-yellow.svg');
  }

  &--magenta {
    background-image: url('/img/rectangle-magenta.svg');
  }

  &--violet {
    background-image: url('/img/rectangle-violet.svg');
  }

  &--mint {
    background-image: url('/img/rectangle-mint.svg');
  }

  &--light-pink {
    background-image: url('/img/rectangle-light-pink.svg');
  }
  &--pink {
    background-image: url('/img/rectangle-pink.svg');
  }
}

@mixin backgroundColorType {
  &--blue {
    background-color: #0654ff;
  }
  &--magenta {
    background-color: #ba3c8f;
  }
  &--mint {
    background-color: #169e97;
  }
}

@mixin maxHeightDeepDesktop {
  @include respond(lg) {
    @include hideScroll;
    overflow-y: auto;
    max-height: calc(100vh - 5rem);
    @media only screen and (min-height: 600px) {
      max-height: 90vh;
    }
  }
}

@mixin maxHeightShowUpDesktop {
  @include hideScroll;
  overflow-y: auto;
  max-height: 100vh;

  @include respond(lg) {
    @include hideScroll;
  }
}

@mixin maxHeightEarthDesktop {
  @include respond(lg) {
    @include hideScroll;
    overflow-y: auto;
    max-height: calc(100vh - 13rem);

    @media only screen and (min-height: 600px) {
      max-height: 90vh;
    }
  }
}

@mixin movingElement($delay) {
  opacity: 0;
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  transform: translateY(200px);

  .page.page--mobile-active & {
    opacity: 1;
    transform: translateY(0);
    transition-timing-function: ease;
  }

  @include respond(lg) {
    .page.page--moving-up & {
      transform: translateY(200px);
    }

    .page.page--moving-down & {
      transform: translateY(-200px);
    }

    .page.page--active & {
      opacity: 1;
      transform: translateY(0);
      transition-timing-function: ease;
    }

    .page.page--active.page--moving-up & {
      transition-delay: calc($headingsDelay * $delay);
    }

    .page.page--active.page--moving-down & {
      transition-delay: calc($headingsDelay / $delay);
    }
  }
}

@mixin movingSubstrate($delay) {
  opacity: 0;
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  transform: translateY(200px) scale(0.8);

  .page.page--mobile-active & {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition-timing-function: ease;
  }

  @include respond(lg) {
    opacity: 0;
    transition: opacity $headingsAT, transform $headingsAT ease-out;

    .page.page--moving-up & {
      transform: translateY(400px) scale(0.4);
    }

    .page.page--moving-down & {
      transform: translateY(-400px) scale(0.4);
    }

    .page.page--active & {
      opacity: 1;
      transform: translateY(0) scale(1);
      transition-timing-function: ease;
    }

    .page.page--active.page--moving-up & {
      transition-delay: calc($headingsDelay * $delay);
    }

    .page.page--active.page--moving-down & {
      transition-delay: calc($headingsDelay / $delay);
    }
  }
}

@mixin movingSubstrateEarthMain($delay) {
  opacity: 0;
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  transform: translateY(-400px) scale(0.8);

  .page.page--mobile-active & {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition-timing-function: ease;
  }

  @include respond(lg) {
    opacity: 0;
    transition: opacity $headingsAT, transform $headingsAT ease-out;
    transform: translateY(-400px) scale(0.4);

    .page.page--active & {
      opacity: 1;
      transform: translateY(0) scale(1);
      transition-timing-function: ease;
      transition-delay: calc($headingsDelay * $delay);
    }
  }
}

@mixin movingSubstrateEarth($delay) {
  opacity: 0;
  transition: opacity $headingsAT, transform $headingsAT ease-out;
  transform: translateY(200px) scale(0.8);

  .page.page--mobile-active & {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition-timing-function: ease;
    // transition-delay: calc($headingsDelay * $delay);
  }
  @include respond(lg) {
    opacity: 0;
    transition: opacity $headingsAT, transform $headingsAT ease-out;
    transform: translateY(200px) scale(0.4);

    .page.page--active & {
      opacity: 1;
      transform: translateY(0) scale(1);
      transition-timing-function: ease;
      transition-delay: calc($headingsDelay * $delay);
    }
  }
}

@mixin movingDeepPage($delay) {
  @include respond(lg) {
    opacity: 0;
    transition: opacity $headingsAT, transform $headingsAT ease-out;

    .page.page--moving-up {
      transform: translateY(200px);
      // transition-delay: calc($headingsDelay * $delay);
    }

    .page.page--moving-down {
      transform: translateY(-200px);
      // transition-delay: calc($headingsDelay * 1);
    }

    .page.page--active {
      opacity: 1;
      transform: none;
      transition-timing-function: ease;
      transition-delay: calc($headingsDelay * $delay);
      // transition-delay: calc($headingsDelay * $delay);
    }
  }
}

@mixin movingCard {
  @include respond(lg) {
    opacity: 0;
    transition: opacity $headingsAT, transform $headingsAT ease-out;
    transform: translateY(200px);

    .page.page--active & {
      opacity: 1;
      transform: none;
      transition-timing-function: ease;
      transition-delay: $headingsDelay;
    }
  }
}

%movingBodyBottom {
  transition: transform calc($headingsAT * 1.2) ease-out;
  transform: translateY(100%);
  transition-delay: $headingsDelay;

  .substrate-body.substrate-body--to-bottom & {
    opacity: 1;
    transform: translateY(0);
    transition-timing-function: ease;
    transition-delay: $headingsDelay;
  }

  .substrate-body.substrate-body--to-top & {
    opacity: 1;
    transform: translateY(-60%);
    transition-timing-function: ease;
    transition-delay: $headingsDelay;
  }
}

@mixin hideScroll {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    // background: transparent;
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }
}

%scaleBody {
  transition: background-size $headingsAT ease-out,
    background-position calc($headingsAT * 2) cubic-bezier(0.61, 0.2, 0.54, 0.87);

  &.substrate-body--active {
    background-size: 420%, 100vh;

    @include respond(lg) {
      background-size: calc(100vh * 4) calc(100vh * 1.3);
    }
  }

  @include respond(lg) {
    &.substrate-body--left {
      background-position: top 40% left 40%;
    }
    &.substrate-body--right {
      background-position: top 60% left 60%;
    }
  }
}

%opacityScroll {
  @include respond(lg) {
    opacity: 0;
    transition: opacity calc($headingsAT / 2) ease-out;

    .page.page--active & {
      opacity: 1;
      transition: opacity $headingsAT calc($headingsAT * 4) ease-out;

      img {
        animation: bounce;
        animation-duration: 1s;
        animation-delay: 5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
      }
    }
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}
